[2016-06-24 16:07] riaz-bordie-cko opened #1 "Adding metadata to Charge request"
Hi Dmitry,
As agreed, I'm creating an Issue instead of using GMAIL for this request.

Can we please add metadata when creating a charge following the below structure?

server: Server and Client information (browser)
quote_id: Magento quote ID (if still applicable on Magento V2)
magento_version: Magento version
plugin_version: The version of the your Magento/Checkout plugin the merchant is using
li

[2016-06-26 10:20] mage2pro commented on #1
I have implemented it in the [1.0.6](https://github.com/CKOTech/checkout-magento2-plugin/releases/tag/1.0.6) version.
Unfortunately, Checkout.com does not show the metadata in the merchant's interface ([unlike Stripe](https://mage2.pro/t/topic/932)), so I have checked the correctness of the metadata with a debugger:
![04](https://cloud.githubusercontent.com/assets/83204/16361676/ae75e7c6-3ba0-11e6

[2016-06-27 09:57] nicolas-maalouf-cko commented on #1
Tested successfully.

@riaz-bordie-cko you can close the issue

[2016-06-27 10:26] #1 closed

[2016-06-27 11:21] nicolas-maalouf-cko opened #2 "Remove references to Stripe"
Concerned files are Method.php and config.xml.

Inside workspace.xml there's referencing to "show_stripe_button". Is this Checkout.com's button?

[2016-06-27 13:52] mage2pro commented on #2
Reference an exact GitHub project's code line in an exact version.

[2016-06-27 14:10] nicolas-maalouf-cko commented on #2
Latest version.

Do you want me to send you the lines where Stripe is mentioned?

[2016-06-27 14:20] mage2pro commented on #2
https://www.google.com/search?q=github+reference+a+code+line
An example:
https://github.com/CKOTech/checkout-magento2-plugin/blob/1.0.6/composer.json#L8-L13

[2016-06-27 16:44] nicolas-maalouf-cko commented on #2
### Method.php

https://github.com/CKOTech/checkout-magento2-plugin/blob/1.0.6/Method.php#L118
https://github.com/CKOTech/checkout-magento2-plugin/blob/1.0.6/Method.php#L127
https://github.com/CKOTech/checkout-magento2-plugin/blob/1.0.6/Method.php#L482
https://github.com/CKOTech/checkout-magento2-plugin/blob/1.0.6/Method.php#L714

### config.xml

https://github.com/CKOTech/checkout-magento2-plugin

[2016-06-28 06:28] mage2pro commented on #2
I made it in the [1.0.7](https://github.com/CKOTech/checkout-magento2-plugin/releases/tag/1.0.7) version.

[2016-06-28 09:47] #2 closed

[2016-06-28 11:19] redboxmarcins opened #3 "Module has dependency on 2.1.x so breaks on 2.0.x"
Hi
Below files do not exist in 2.0.x
Magento_Checkout/js/action/redirect-on-success.js
Magento_Checkout/js/model/place-order.js

Those were introduced in 2.1.x

Is your module compatible with 2.0.x? If not please correct your composer.json to not allow installation on 2.0.x

Do you have version of the module which works on 2.0.x?

[2016-06-28 12:01] nicolas-maalouf-cko opened #4 "Put back mage2pro/checkout.com package in packagist"
composer require --prefer-source mage2pro/checkout.com:* function now breaks as the mage2pro/checkout.com seems to be missing.

[2016-06-28 12:13] mage2pro commented on #4
It is because the Git repositiry has been moved.
You should declare the new repository location in https://packagist.org

[2016-06-28 12:17] mage2pro commented on #4
And you should setup GitHub and Packagist integration in GitHub too, so Packagist will be notified about new module's releases:
![02](https://cloud.githubusercontent.com/assets/83204/16414941/5caea3fc-3d43-11e6-89a2-d1d695ec9c14.png)

[2016-06-28 12:27] nicolas-maalouf-cko commented on #3
@mage2pro can you please assist us on this?

Getting the below error on 2.0.7 when going to payment selection in checkout:

require.js:166 Uncaught Error: Script error for: Magento_Checkout/js/model/place-order
http://requirejs.org/docs/errors.html#scripterror

[2016-06-28 18:37] mage2pro commented on #3
I have fixed it in the [1.0.8](https://github.com/CKOTech/checkout-magento2-plugin/releases/tag/1.0.8) version.

[2016-06-28 21:23] redboxmarcins commented on #3
Payment method is visible in the checkout but after placing order there is error

[code]

[2016-06-29 06:30] mage2pro commented on #3
This problem is not related to the topic.
1. Create a separate topic for this problem.
- Provide me the SSH access to your server, and I will debug this problem.

[2016-06-29 06:49] redboxmarcins commented on #3
@mage2pro our infosec policy does not allow 3rd party SSH access
Can you think of about any other alternative?

Maybe it is misconfiguration on our side?

[2016-06-29 07:01] mage2pro commented on #3
Try to reproduce it in a less secure environment (on a test server), and provide an SSH access to it.

[2016-06-29 07:09] mage2pro commented on #3
Or maybe @nicolas-maalouf-cko could reproduce it on his Amazon EC2 test instance?
I am unable to reproduce it.
Anyway, it is not related to the topic, create a new topic for the issue.

[2016-06-29 09:06] nicolas-maalouf-cko commented on #3
This is not happening on my instance with 2.0.7.

Normal orders go through properly.

[2016-06-29 09:19] nicolas-maalouf-cko opened #5 "Uncaught error on orders with 3D-Secure"
With 3D-Secure enabled before being redirected to the 3D page the console logs [this error](https://snag.gy/f9YU3r.jpg)

It doesn't seem to affect the flow as the redirection back to magento is successful and the orders goes through.

[2016-06-29 11:59] nicolas-maalouf-cko opened #6 "Add support for saved cards"
Card-ID should be optionally stored when a logged in user places an order with a new card.

User should then be able to use the saved card ID to create further purchases using [this endpoint](http://developers.checkout.com/docs/server/api-reference/charges/charge-with-card-id) without reentering the card details.

User should also be able to manage his saved cards.

[2016-07-01 11:46] #3 closed

[2016-07-01 12:44] riaz-bordie-cko opened #7 "[URGENT] Merchant issue: "Maximum function nesting level of '256' reached, aborting""
@mage2pro @ravish-ramrakha-cko @nicolas-maalouf-cko

Hi Dmitry,
We have an urgent issue with the plugin.

Merchant said:
Mage2Pro Core Module, Df\Framework\Plugin\View\Layout > aroundRenderNonCachedElement()

Apparently, as it's used everywhere, it is causing **Fatal error: Maximum function nesting level of '256' reached, aborting!**

They tried to increase the nesting level but the page still doe

[2016-07-01 12:55] mage2pro commented on #7
I need SSH access to the problem server.

[2016-07-04 15:44] nicolas-maalouf-cko commented on #6
@mage2pro is this feature in mage2.pro's timeline?

[2016-07-12 13:14] mage2pro commented on #6
Yes.

[2016-07-12 13:16] mage2pro commented on #5
If *it do not affect the flow as the redirection back to magento is successful and the orders goes through* then it is not an issue.

[2016-07-12 13:16] #5 closed

[2016-07-12 13:16] #4 closed

[2016-07-12 13:16] #7 closed

[2016-07-12 18:05] mage2pro commented on #9
[How to diagnose «500 Internal Server Error»?](https://mage2.pro/t/topic/854)

[2016-07-13 09:13] nicolas-maalouf-cko commented on #9
@mage2pro

Here is the error:

PHP Fatal error:  Undefined class constant 'RESPONSE' in /var/www/html/magento2/vendor/mage2pro/checkout.com/Method.php on line 654, referer: http://[MYWEBSITEURL].com/magento2/checkout/

Tested on 1.0.21

[2016-07-13 11:47] mage2pro commented on #9
I have fixed it in the [1.0.22](https://github.com/CKOTech/checkout-magento2-plugin/releases/tag/1.0.22) version.

[2016-07-13 12:10] nicolas-maalouf-cko commented on #6
Any visibility on when this will be implemented?

[2016-07-19 19:19] mage2pro commented on #10
I have fixed it in the [1.4.26](https://github.com/mage2pro/core/releases/tag/1.4.26) core version.

[2016-07-20 08:33] #6 closed

[2016-08-17 12:58] afred79 opened #11 "Module stopped to work"
Hello.

We installed your extension for payment Checkout.com a some time ago and it worked it sandbox mode.
The module versions were:
mage2pro/checkout.com - 1.0.37
mage2pro/core - 1.5.17

A few days ago it stopped to work. We've updated. New versions are:
mage2pro/checkout.com - 1.0.47
mage2pro/core - 1.6.16

But there are another errors. It generate exceptions in logs.
We decreased mage2pro/core

[2016-08-18 01:00] mage2pro commented on #11
Fixed in the 1.0.48 version.

[2016-08-18 01:00] #11 closed

[2016-08-18 12:13] afred79 commented on #11
Thank you for quick response.
New version had updated, but there is another error.

There are attached screenshot with message on checkout page and exception log file. Credentials were updated and saved in configuration. Please check it out.

![checkout com error message](https://cloud.githubusercontent.com/assets/2360929/17773194/d311461e-6555-11e6-8c55-8a76bcbb404f.png)

[exception-2016-08-18--1

[2016-08-18 12:32] mage2pro commented on #11
Use separate topics for separate issues.

[2016-08-18 17:07] mage2pro commented on #12
Fixed in 1.0.49.

[2016-08-31 16:39] nicolas-maalouf-cko commented on #13
Hi @afred79

Yes multishipping is available, please see below screenshot:

![screen shot 2016-08-31 at 17 27 08b](https://cloud.githubusercontent.com/assets/17044577/18137816/e9c912c8-6fa1-11e6-9ed0-b1f1842278df.png)

[2016-09-01 09:13] afred79 commented on #13
Hi @nicolas-maalouf-cko

Excuse me, may be we misunderstand each other. I mean 'multiple addresses' place order.
In magento 1 it was named as 'Multishipping checkout'.

Multishipping in magento doesn't mean to choose one address from a few.
'Checkout Multishipping' - when customer want to order a few products and get them on two or more addresses. In that case customer choose address to delivery f

[2016-09-05 11:26] nicolas-maalouf-cko commented on #13
Hi @afred79 ,

Thank you for clarifying your request.
This feature is indeed not available in our plugin yet.

[2016-10-26 12:25] mage2pro commented on #14
Publish exact error message instead of generic words.

[2016-10-26 12:55] redboxmarcins commented on #14
While using Magento 2.0.10 EE there is a problem that mage2pro/core and magento2/checkout.com modules are prevening some modules to set preferences in di.xml

example one:
`<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Store\Controller\Stor

[2016-10-26 13:53] mage2pro commented on #14
As I know, you are using an outdated [`1.4.28`](https://github.com/mage2pro/core/releases/tag/1.4.28) version of the `mage2pro/core` package and a custom [`dev-savecards`](https://github.com/CKOTech/checkout-magento2-plugin/tree/dev-savecards) branch of the Checkout.com extension.
I do not support nor mage2pro/core 1.4.28 (the current version is [1.8.8](https://github.com/mage2pro/core/releases/ta

[2016-10-26 13:54] redboxmarcins commented on #14
1.8.8 does the same thing

[2016-10-26 14:38] mage2pro commented on #14
Do you use the `1.1.3` Checkout.com extension version?

[2016-10-26 14:44] nicolas-maalouf-cko commented on #14
Yes same happens when using everything from master branch.
(Checkout.com 1.1.3 and mage2pro/core 1.8.8)

[2016-10-26 14:49] mage2pro commented on #14
composer update
composer require magento2/checkout.com:*
php bin/magento setup:upgrade
rm -rf var/di var/generation/ var/cache/
php bin/magento deploy:mode:set production
rm -rf var/di var/generation/ var/cache/
bin/magento setup:di:compile
php bin/magento c:fl
php bin/magento c:cl
php bin/magento s:up --keep-generated

I do not understand these "steps to reproduce".
What should I see after this c

[2016-10-26 14:53] redboxmarcins commented on #14
If you have any other modules in vendor which set preferences - you will see in var/di that it is not there
and also if you try to create object - it will not honour it

[2016-10-26 14:56] mage2pro commented on #14
What exact module should I install and check?
I do not have BlueFoot CMS, so I can not check it.

[2016-12-07 16:34] dmitry-fedyuk commented on #15
You are doing something wrong: the `Dfe\CheckoutCom\Method` class from the latest [`1.1.10`](https://github.com/checkout/checkout-magento2-plugin/tree/1.1.10) release does not have the `amountFactor` method at all: https://github.com/checkout/checkout-magento2-plugin/blob/1.1.10/Method.php

[2016-12-07 16:36] dmitry-fedyuk commented on #14
Closed because of absence of response.

[2016-12-07 16:51] Kamrog commented on #15
Just followed composer install instructions :)

[2016-12-15 23:41] dmitry-fedyuk commented on #15
I noticed the same problem [with another client](https://mage2.pro/t/topic/2388), and I think you both have ignored (or have a failure) with the step 1 of the upgrade instruction:

[code]

In any case when your are unable to follow a step of an official instruction, it is better to report it, when to ignore the step and break your site.

[2017-10-02 13:42] maderlock opened #8 "Cannot checkout if keys are not validated, even when disabled"
With 1.0.6 installed, **even if the extension is not enabled**, if I do not have correct keys entered then when I visit https://somedomain.com/checkout/cart/ instead of the cart I get to see this:

	1 exception(s):
	Exception #0 (CheckoutCom\Magento2\Gateway\Exception\ApiClientException): Your API key is invalid.

	Exception #0 (CheckoutCom\Magento2\Gateway\Exception\ApiClientException): Your API

[2017-10-02 14:01] nicolas-maalouf-cko commented on #8
Hi @maderlock ,

Thanks for reporting the issue, we'll be fixing it and providing an update.

Meanwhile please let us know if you're able to properly use the extension with keys set.

Thanks

[2017-10-02 14:04] Danielc3 opened #9 "Generic styling added to body"
Below is the CSS that this module appears to be appending to the body:

`
	html {
	    overflow: -moz-scrollbars-vertical !important;
	    overflow-y: scroll !important;
	}

	body {
	    overflow: visible !important;
	}

	#embeddedForm {
		z-index: 0 !important;
	}

	#embeddedForm, #embeddedForm iframe {
	    position: relative !important;
	}

	#embeddedForm iframe {
		min-height: 153px;
	}

	#cko

[2017-10-03 09:30] maderlock opened #10 "Logos in text areas overlap writing area"
![screenshot 2017-10-03 10 27 58](https://user-images.githubusercontent.com/630320/31118524-9686540a-a825-11e7-9ada-179395ea31fd.png)

It's possible to enter the CVV digits, and the info hover also works, but they overlap which looks a bit broken. Similarly, the card number disappears underneath the card type logo.

Is it possible to make the boxes longer to avoid the overlap?

[2017-10-03 09:31] maderlock commented on #8
Yes - that has not changed. With the keys entered it works fine :)

[2017-10-03 11:44] nicolas-maalouf-cko commented on #10
@maderlock this is an expected behaviour of the iframe as it's responsive.
Do you use a particularly narrow design that makes the payment form squeeze?

Thanks

[2017-10-03 13:45] maderlock commented on #10
Ah, I see. We do have a slightly narrower section for the form, as otherwise other payment options are rather spread out. The issue we have is the 50% width from the checkout.com module. Here is the css that forces the form to be displayed at 50% of the available width from checkoutcom/magento2/view/adminhtml/templates/embedded.phtml:

        #cko-form-holder {
	    max-width: 50%;
	}

The restri

[2017-10-03 13:48] maderlock commented on #10
Ah - it's in two files:
checkoutcom/magento2/view/adminhtml/templates/embedded.phtml:
checkoutcom/magento2/view/frontend/templates/embedded.phtml:

[2017-10-03 13:48] maderlock commented on #9
I can see that this has been addressed in 1.0.7 for the frontend. Could you please do the same with checkoutcom/magento2/view/adminhtml/templates/embedded.phtml ?

[2017-10-03 15:14] nicolas-maalouf-cko commented on #10
@maderlock

We would prefer not to use a fixed width because it breaks the fluid design on larger widths.

Would you be able to try max-width: 60% and see if it looks good on your end?
It seems to cater for the edge cases on our side.

[2017-10-05 15:43] maderlock commented on #10
Do you see my point about how your percentage design is less fluid than a hard limit? Think of it as allowing the element to fill space fluidly with a limit to stop it getting too big and looking odd.  To allow for larger widths does a percentage make sense? I don't think so, because the point at which the form elements start looking strange is absolute not percentage.

If you are concerned that t

[2017-10-05 17:08] nicolas-maalouf-cko commented on #10
@maderlock we will be adding media-query to the default CSS, thanks for the suggestion.

As you appear to be using an non-usual format in your Magento theme, we offer the possibility to update a custom CSS to handle the embedded form according to your design needs.
You can do that in the plugin configuration.

Please have a look at [this](https://docs.checkout.com/getting-started/checkout-js-v2/em

[2017-10-06 10:16] maderlock commented on #10
If you take my advice then you won't need to use a media query - much better fluid design :) But I see that we're not going to agree on this one, so we'll use custom css.

[2017-10-06 10:16] #10 closed, assigned to david-fiaty-cko

[2017-10-06 10:33] maderlock opened #12 "Cannot override css for embedded form"
Although there is an option to set a custom css file, there is hard-coded css that is always output after this. It is this hard-coded css that we would like to override but lack a mechanism to do so.

See view/frontend/templates/embedded.phtml

Alternatively, you could always make the changes we suggested in #10 ;)

[2017-10-06 11:01] david-fiaty-cko commented on #12
Here is the CSS available in the file you mention:
`
    html {
        overflow: -moz-scrollbars-vertical !important;
        overflow-y: scroll !important;
    }

    #embeddedForm {
        z-index: 0 !important;
    }

    #embeddedForm, #embeddedForm iframe {
        position: relative !important;
    }

    #embeddedForm iframe {
        min-height: 153px;
    }

    #cko-form-holder {

[2017-10-06 13:31] maderlock commented on #12
This one:

    #cko-form-holder {
        max-width: 50%;
    }

I suppose can override this by using a more specific selector.

[2017-10-06 13:39] david-fiaty-cko commented on #12
Yes you can, either with a more specific selector or a !important.
Please note that once we've added media queries as you suggest, customising the width will require a little bit more effort. However I don't think we will need more than 3 or 4 media queries.

We know we can't take in account width requirements for all user templates, so customisation for this specific selector is to expect. The we

[2017-10-12 10:27] nicolas-maalouf-cko commented on #8
Closing the issue as it has been resolved in the latest release

[2017-10-12 10:27] #8 closed, assigned to david-fiaty-cko

[2017-10-13 10:40] maderlock commented on #12
While I can't say I 100% agree with some of the default choices, I can see how I can customise this, so closing this issue.

[2017-10-13 10:40] #12 closed, assigned to nobody

[2017-10-13 13:35] maderlock opened #13 "Large gap under integrated form"
Before the commit button there is a very large gap. I know why this is there - so that the tool tips in the iframe have space to be shown - a fix from a previous issue.

Not sure what the answer is there - if you move the button up then either it has to be over the iframe, which means that the tooltip will go underneath it; or it goes under the iframe, which means that the button cannot be pressed

[2017-10-13 14:26] maderlock opened #14 "Frontend area of payment info block shows too much"
The info block for a payment is rendered in the customer account  area for orders, as well as in the order confirmation email.

I believe that it should only show relevant information for customers, but at present it's showing all transaction data that the admin sees. Here's an example from an order email:

![screenshot 2017-10-13 15 20 41](https://user-images.githubusercontent.com/630320/31550830

[2017-10-13 15:02] maderlock opened #15 "Vault title cannot be modified"
There seems to be an area in the system config where the vault title can be specified:
![screenshot 2017-10-13 16 00 15](https://user-images.githubusercontent.com/630320/31552558-bd8aa206-b02f-11e7-8987-71e81d4beafc.png)

However, the frontend always just shows this under the title checkout.com:
![screenshot 2017-10-13 16 00 34](https://user-images.githubusercontent.com/630320/31552590-d00ca79e-b0

[2017-10-16 13:24] david-fiaty-cko commented on #15
issue fixed in new version 1.0.8

[2017-10-16 13:24] david-fiaty-cko commented on #14
issue fixed in new version 1.0.8

[2017-10-16 13:24] david-fiaty-cko commented on #9
issue fixed in new version 1.0.8

[2017-10-16 16:07] maderlock commented on #15
I installed 1.0.8, cleared cache, varnish, static content etc. and put through an order with a card for storage. This is what I now see:

![screenshot 2017-10-16 17 04 58](https://user-images.githubusercontent.com/630320/31622502-7f90900c-b294-11e7-8770-43bc4698f610.png)

Here is a javascript error in the console:

<img width="816" alt="screenshot 2017-10-16 17 10 51" src="https://user-images.gith

[2017-10-16 16:14] maderlock commented on #14
This seems to have fixed the customer order display in the account area, but I see the same issue with 1.0.8 in order emails. Note that static content was re-compiled as was DI generated files.

[2017-10-16 16:25] david-fiaty-cko commented on #15
I haven't managed to reproduce this issue. The js error in the console says that getVaultTitle() is not defined. The getVaultTitle() function has been added to fix the vault title issue and should be present in your install.

Please check the following file to make sure the function exists:
/view/frontend/web/js/view/payment/method-renderer/vault.js

You should see the function on line 24.
Also, p

[2017-10-17 09:33] maderlock commented on #15
I can now see the changes. I had done as you suggested, but it would appear that even with a force refresh of the page in the browser, the javascript was browser cached so none of those steps made a difference until I manually cleared my browser cache of all files.

This would not have been a problem in our production environment as we use version numbers in the path, as is pretty commonly done to

[2017-10-17 09:33] #15 closed, assigned to nobody

[2017-10-26 17:30] david-fiaty-cko commented on #9
Complementary changes added in version 1.0.9

[2017-10-26 17:30] #9 closed, assigned to david-fiaty-cko

[2017-10-26 17:31] david-fiaty-cko commented on #13
The CSS min-height constraint has been removed in version 1.0.9.

[2017-10-26 17:31] #13 closed, assigned to nobody

[2017-10-28 16:32] maderlock commented on #13
And this still allows for the tool-tip on the CVV to be seen? That's why this was increased before.

[2017-10-29 21:11] maderlock opened #21 "No invoice created even if set to do so"
Using 1.0.8 with Magento 2.1.9:

Setup:
* Extension in iframe mode (not redirecting).
* Set option to automatically create invoice.

Actions:
* Put through order on frontend

Expected:
* Order created with paid invoice

Actual:
* Order created but no invoice created

[2017-10-31 05:35] pradeep51 opened #24 "how do i find root directory of magento2?"

[2017-10-31 06:46] pradeep51 opened #25 "D:\xampp2\htdocs\Magento2> rm -rf var/cache var/generation/ var/di 'rm' is not recognized as an internal or external command, operable program or batch file."

[2017-10-31 06:46] pradeep51 commented on #14
D:\xampp2\htdocs\Magento2> rm -rf var/cache var/generation/ var/di
'rm' is not recognized as an internal or external command,
operable program or batch file.

[2017-10-31 09:50] nicolas-maalouf-cko commented on #25
Hi, Magento 2's official requirements mention to run it on Linux and not Windows:
http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements-tech.html

What you're receiving is errors running UNIX commands on a Windows terminal.

[2017-10-31 09:50] #25 closed, assigned to nobody

[2017-10-31 09:50] nicolas-maalouf-cko commented on #24
Can you please elaborate on this?

[2017-10-31 09:55] moneef opened #26 "PaymentMehod not showing in frontend checkout page - M2 2.1.7"
Hey @david-fiaty-cko and @nicolas-maalouf-cko ,

~~i set up the public and secret key and set the module to enable YES, but i cant see the payment method at the checkout page~~

 **My bad it was the currency settings**

![1](https://user-images.githubusercontent.com/6404057/32217829-37372a4e-be3a-11e7-9168-a1be5c5e8ff1.PNG)

[2017-10-31 10:03] #26 closed, assigned to nobody

[2017-10-31 10:07] nicolas-maalouf-cko commented on #26
@moneef yes, we will make sure this is more obvious in the next update

[2017-10-31 13:32] moneef opened #27 "Emails issues"
Hey @nicolas-maalouf-cko  and @david-fiaty-cko ,

thank you guys for your hard work with this extension.

[code]

i have a strange problem with emails,

after the order is placed i get an order confirmation email even before the 3D Secure Verification page process is completed. and there is extra info the doesn't suppose to be in the email see issue - #14

![capture](https://user-images.githubuser

[2017-10-31 15:02] moneef commented on #21
Hey @maderlock ,

You have to capture the payment before the module create the invoice got to  your `Dashboard -> Transactions`
select `Transaction ` from the sidebar menu of your `Dashboard `a list of transactions will show up, select the transaction for that order and `check the box` next to it then go to the `action drop-down menu` and select `Capture`, a window will pop-up select `Full Capture

[2017-10-31 15:06] nicolas-maalouf-cko commented on #21
@maderlock @moneef
This will also happen automatically on capture when autocapture is enabled from the plugin configuration.

You also need to make sure the Webhook URL is properly configured in the hub, and that your server is not blocking these webhooks.

[2017-11-02 17:01] maderlock commented on #21
Webhook is set to the one shown in the system config setting.
Autocapture is set to yes.
Autoinvoice is set to yes.

There are no callbacks in the server logs except for the test calls I asked checkout.com to send by pressing the Test button in the callback dialog.

So I think this confirms that there is nothing in the server setup stopping callbacks. The URLs I have double-checked and are correct

[2017-11-03 10:19] maderlock commented on #14
@pradeep51 That is a unix command and you are using Windows. Please would you mind asking questions like this on somewhere like stack overflow as this is not directly relevant to the checkout.com extension?

[2017-11-10 14:49] david-fiaty-cko commented on #14
@maderlock the payment info remaining in the new order email has been removed in the latest version ( v1.0.11).

[2017-11-10 14:49] #14 closed, assigned to nobody

[2017-11-14 14:48] maderlock commented on #13
I see the tool tip has been removed.

I still have a large gap, because the iframe is set to 100% height. If I remove this then it looks fine, but the css is added in https://cdn.checkout.com/v2/js/css/checkout-2.0.8.css line for iframe.cko-iframe

[2017-11-14 14:59] maderlock opened #29 "Error when changing css"
Using v2.011 of extension
v2.1.9 of Magento 2

When trying to change css from custom to standard, it will not change and gives me the following error:

Something went wrong while saving this configuration: Notice: Undefined index: tmp_name in .../web-root/vendor/checkoutcom/magento2/Model/Config/Backend/CustomCss.php on line 52

[2017-11-14 15:07] maderlock commented on #29
The reason I'd like to change the option is that I get the following error in the console on the page when using a custom css file:

https://www.dropbox.com/s/iu2fnj2s47e76v9/Screenshot%202017-11-14%2015.06.36.png?dl=0

[2017-11-14 15:10] maderlock opened #30 "Form disapears if billing address changed"
Extension 2.0.11
Magento 2.1.9

If I change my billing address to be the same or different to the shipping address I end up with no iframe so I can't complete the checkout.

[2017-11-14 15:21] david-fiaty-cko commented on #13
The 100% height you see doesn't come from the Checkout.com Magento extension, but from the Embedded Form hosted on Checkout's servers. As we cannot change this from a M2 installation, your request about 100% will be transmitted and taken in account for the next release of the Embedded Form, which will be called Frames.

Please bear with us until the next release is available. It should arrive by n

[2017-11-14 16:52] maderlock commented on #30
It also disappears if there is a problem putting through an order due to payment being declined:

![screenshot 2017-11-14 16 50 03](https://user-images.githubusercontent.com/630320/32792781-2969c43a-c95c-11e7-8198-d73ced5a732d.png)

[2017-11-14 16:52] maderlock commented on #30
In this case I see the following error:
Uncaught TypeError: Cannot read property 'postMessage' of null
    at Object.postMessage (checkout.js:89)
    at c (checkout.js:134)
    at O.d.activateLightbox (checkout.js:135)
    at O.d.payNow (checkout.js:130)
    at c (checkout.js:137)
    at HTMLLinkElement.<anonymous> (checkout.js:138)

[2017-11-14 17:35] maderlock commented on #30
Caveat to all this: we're having general issues with the checkout so I'll try this all on a vanilla version of 2.1.9

[2017-11-14 17:39] maderlock commented on #30
Apologies - looks like this is something to do with our installation. It's fine in vanilla 2.1.9

[2017-11-14 17:39] #30 closed, assigned to nobody

[2017-11-16 16:39] david-fiaty-cko commented on #27
The invoice issue described here has been fixed in the latest release 1.0.12.
The email issues were already fixed in 1.0.11. It should be all sorted but please reopen if needed.

[2017-11-16 16:39] #27 closed, assigned to nobody

[2017-11-16 16:42] david-fiaty-cko commented on #24
The root of Magento 2 is the directory where you find the following sub directories:
/app
/bin
/dev
/lib
/phpserver
/pub
/setup
/update
/var
/vendor

Please use the Magento forum for Magento related questions.

[2017-11-16 16:42] #24 closed, assigned to nobody

[2017-11-16 16:43] david-fiaty-cko commented on #21
This invoice creation issue has been fixed in the latest release 1.0.12.

[2017-11-16 16:43] #21 closed, assigned to nobody

[2017-11-17 09:51] david-fiaty-cko commented on #29
Thank you for reporting this issue, it will be fixed in the next release.

For now, in order to change CSS from custom to standard, you can still click on the "delete" checkbox next to your file, then save the configuration.

This will effectively delete the custom CSS file and bring back the default one.

[2017-11-17 15:44] david-fiaty-cko commented on #29
These issues have been fixed in the latest release 1.0.13.

[2017-11-17 15:44] #29 closed, assigned to nobody

[2017-11-29 21:01] elvinristi opened #35 "v1.0.14 Frames.js issue"
## STR
- Install Magento Commerce 2.1.9 with sample data
- Install latest `checkoutcom/magento2` 1.0.14
- Enable to use Integration "Frames" (embedded)
- Using Sandbox account details
- settings in core_config_data:
![Settings](https://snaps.vaimo.com/elvin.risti/core_config_data-checkoutcom_1FCF5687.png)
- Using following CC test data:
[code]

## RESULT

Frames.js version 1.0.14 result:
- After p

[2017-12-18 08:45] #35 closed, assigned to nobody

[2017-12-18 08:46] david-fiaty-cko commented on #35
issue fixed in 1.0.15

[2018-02-21 17:10] joshdavenport opened #46 "Checkout breaks if quote has a zero sum grand total"
## Summary of issue
Zero value orders may seem rare, but with Magento Commerce (EE) it is totally possible that a gift card account is paying for the order in full. In that event, the total of the order comes to zero. When that happens, the checkout will not initialise as an a critical error occurs and the checkout block that bootstraps the behemoth checkout JS component is never rendered, leading

[2018-02-21 18:41] nicolas-maalouf-cko commented on #46
Hi @joshdavenport

This was fixed in 1.0.20
Please confirm it works as expected

Thanks

[2018-02-22 08:36] joshdavenport commented on #46
Will do asap, thanks!

[2018-03-21 16:31] roman-snitko opened #48 "Duplicate declaration of "setCardTokenId" method"
Method "setCardTokenId" is declared twice in _web/js/view/payment/method-renderer/embedded.js_
This breaks checkout in IE11.

[2018-03-28 11:51] roman-snitko opened #49 "Change line endings to LF"
Not an issue, but it would be great to have **LF** EOL instead of _CRLF_

[2018-04-10 11:35] maderlock opened #50 "Multiple Capture of Payments"
Setup:
Magento 2.2.3
Checkout.com module 1.0.20
Auto Capture Time: 1 hour
Integration: Frames
Debug: no (now turned on, but too late for this to help right now)

We are seeing a number of instances of orders being charged 2 (or more!) times. Looking at the access logs, the callback action is being called by checkout.com multiple times. Logging into the checkout.com hub I can see multiple authorisa

[2018-04-16 15:14] david-fiaty-cko commented on #48
This issue has been fixed in the latest 1.0.21 release.

[2018-04-16 15:14] #48 closed, assigned to nobody

[2018-04-16 15:15] snowcore commented on #48
You are welcome, thanks.

[2018-04-16 15:15] david-fiaty-cko commented on #46
Issue closed for no activity for 2 months. Please reopen if needed.

[2018-04-16 15:15] #46 closed, assigned to nobody

[2018-04-16 15:40] david-fiaty-cko commented on #49
LF normalisation is now available in the dev branch. This update will be pushed to master with the next release. Please let me know any issue. Thank you.

[2018-04-16 15:40] #49 closed, assigned to nobody

[2018-04-16 15:42] snowcore commented on #49
Superb! Thanks!

[2018-04-18 15:44] david-fiaty-cko commented on #49
LF normalisation is now available in the master branch with the 1.0.22 release.

[2018-04-18 18:39] elvinristi opened #55 "Issue on frontend side on Magento Commerce 2.x"
Didn't start to send it as PR but wanted to raise the issue which exists in current module.

(1) Changes, how we use in our module so there wouldn't be conflicting overrides with `view/frontend/layout/sales_*` files:

- vaimo/checkoutcom-magento2-plugin@2a80dcecdaa94ba68878dcd2451dff28cf58cc89

Issue is that current module is redefining blocks in layout files and resetting core's already defined b

[2018-04-20 09:43] david-fiaty-cko commented on #55
Hi Elvin,

You have already raised this issue in a PR here in December 2017: https://github.com/checkout/checkout-magento2-plugin/pull/37

As explained in the comment, we cannot remove the override for the moment as it covers requirements expressed by multiple stakeholders. Your request will be satisfied in the scope of a refactoring of the module.

The release of the refactored module was planned

[2018-04-20 09:43] #55 closed, assigned to nobody

[2018-04-20 09:46] elvinristi commented on #55
great! forgot already about #37 :)

[2018-04-27 15:03] david-fiaty-cko commented on #50
Checking the orders with duplicated charges show 1 common point: they seem to have been all placed by non logged in users. This leads to a plugin added to the module, in order to overcome a core issue where orders could be lost on the checkout page in Magento 2.1 and below.

The purpose of the plugin was to force the order placement in the case the order was lost for non logged in users, and also

[2018-05-23 12:49] navidnadali opened #58 "Can't use the plugin in production mode"
Hi there,

We are unable to use the latest version in Production Mode:

`2018/05/23 13:38:55 [error] 19510#19510: *28 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught RuntimeException: Source class "\CheckoutComTransfer" for "CheckoutComTransferFactory" generation does not exist. in /mnt/volume-lon1-01/var/www/vhosts/m2.s.vortexcommerce.com/htdocs/amritanutrition/releases/cb69778d3

[2018-05-23 13:03] david-fiaty-cko commented on #58
Hi Navid, please confirm if you can see this file in the module: Gateway\Http\TransferFactory.php
Also please provide your Magento version, the module version and your PHP version.

[2018-05-23 13:06] navidnadali commented on #58
Hi David,

Thank you for your fast reply.

Our M2 version: 2.2.3

Yes, I can see as follow:

`web@s:~/m2.s.vortexcommerce.com/htdocs/amritanutrition/live$ ls -la vendor/checkoutcom/magento2/Gateway/Http/TransferFactory.php
-rw-rw-r-- 1 web web 1829 May 23 13:34 vendor/checkoutcom/magento2/Gateway/Http/TransferFactory.php`

`web@s:~/m2.s.vortexcommerce.com/htdocs/amritanutrition/live$ md5sum vendor

[2018-05-23 13:09] navidnadali commented on #58
Hi @david-fiaty-cko ,

Sorry our PHP version as well: PHP 7.0.30-0ubuntu0.16.04.1 (cli) ( NTS )

Please let me know if you need anything else from me at all

[2018-05-23 13:21] david-fiaty-cko commented on #58
Magento 2 generates Factory classes inside var/generation directory. So, if there is a folder permission issue or a folder owner issue with that directory then the factory class cannot be generated and you can get this kind of errors.

Please check the following points:
1- That all files have 644 permissions
2- That all folders have 755 permissions
3- That the web server is the owner for all M2 fi

[2018-05-23 13:41] navidnadali commented on #58
Hi David,

I'm very sorry about that - PHPFPM had the path cached (we mount the var directory) so it can be reused between deployments, I had checked everything but somehow forgot about that, your comment immediately pointed me to this.

Thank you again and my apologies for wasting your time,

All the best,
Navid

[2018-05-23 13:41] #58 closed, assigned to nobody

[2018-05-23 13:44] david-fiaty-cko commented on #58
No worries Navid, anytime.

[2018-05-24 08:17] brucemead opened #59 "Guest orders all return "Token already used""
When checking out as a guest we're always getting "Token already used" with an error code of "83023" even if we create a fresh session and basket. I'm not able to see an obvious reason for this within your sandbox dashboard, it just states "Authorisation : Fail" without a reason.

Thanks,
Bruce

[2018-05-24 09:13] david-fiaty-cko commented on #59
Hi Bruce,
Could you please confirm if you are using the Frames or the Hosted integration.
Also, please try clearing all browser data (cache, cookies and session) and see if it makes it any better.
Thank you

[2018-05-24 10:02] brucemead commented on #59
Hi David,

We're using Frames and I'm creating a fresh session in a new Chrome Incognito window.

Thanks,
Bruce

[2018-06-05 16:29] david-fiaty-cko commented on #59
Fixed, likely due to a configuration issue in the Checkout.com Hub account. Please reopen if necessary.

[2018-06-05 16:29] #59 closed, assigned to nobody

[2018-06-20 14:10] roman-snitko opened #64 "Impossible to place an order with enabled terms and conditions (hosted)"
## Prerequisites: ##
 - Magento Open Source: 2.2.3
 - Checkoutcom module: latest version 1.0.26
 - Checkoutcom integration type: **Hosted**

## Steps to reproduce: ##
 - Enable terms and conditions in admin area
 - Add new conditions in admin (with manual type)
 - Go to frontend and try to place an order
 - After entering card details on the checkout.com site it redirects back to Magento cart with

[2018-06-20 14:13] nicolas-maalouf-cko commented on #64
Hi @roman-snitko-vaimo
This is due to a Magento core bug that was introduced in version 2.2.2 and that was fixed in 2.2.4

Can you try updating and see if the problem is resolved?

[2018-06-20 14:17] roman-snitko commented on #64
Unfortunately, we can't do upgrade.
Moreover, we have this issue on another installation with older Magento version: 2.1.9

[2018-06-20 14:25] brucemead commented on #64
Hi @roman-snitko-vaimo, long time no speak, hope you're well?!

To confirm we're seeing this issue on `2.2.4` as well.

[2018-06-20 14:27] nicolas-maalouf-cko commented on #64
My bad, it seems to be there from earlier versions too.
Here's the link to the Magento repo Github issue:
https://github.com/magento/magento2/issues/11885

[2018-06-20 15:36] nicolas-maalouf-cko commented on #64
@roman-snitko-vaimo this has been fixed in release 1.0.27 for the Hosted solution and was tested successfully on 2.2.3.
Can you please update and see if it works on your end too?

@brucemead is this happening with the Hosted or the Frames solution on your end?

[2018-06-20 15:37] brucemead commented on #64
Hi @nicolas-maalouf-cko, we're not seeing it working in Frames, I can't say we've checked Hosted though.

[2018-06-27 13:23] roman-snitko commented on #64
@nicolas-maalouf-cko thank you for implementing workaround.

[2018-06-27 13:23] #64 closed, assigned to nobody

[2018-07-02 15:29] undefined-olha opened #67 "Place order button is disabled after leaving checkout and returning back"
Checked on clean Magento 2.1.9.
Checkout com module version: 1.0.23.3

### Precondition
- Frames solution enabled
- More then one payment method is available

### Steps to replicate
1. Add some items to cart
2. Go to Checkout as Guest
3. Fill out shipping info
4. Go to Step 2 of checkout
5. Select “Cash on Delivery” payment method
6. Leave checkout (you can go to shopping bag, for example)
7. Go t

[2018-07-02 16:17] david-fiaty-cko commented on #67
@olgalytvynenko, thank you for reporting this. We have been able to reproduce the issue. There should be a release by Wednesday that fixes it.

[2018-07-05 18:01] david-fiaty-cko commented on #67
Issue fixed in the latest 1.0.29 release.

[2018-07-05 18:01] #67 closed, assigned to nobody

[2018-08-10 11:38] david-fiaty commented on #50
Please try the latest version of the module and reopen if necessary.

[2018-08-10 11:40] #50 closed, assigned to nobody

[2018-08-10 15:58] snowcore opened #73 "Quote addresses are empty after failed card authorization"
### Prerequisites
- Vanilla Magento installation (2.2.3)
- Latest checkoutcom module (1.0.30) configured to use **Frames** (sandbox mode)

### Steps to reproduce
1. Go to checkout with some products in cart
2. Fill in shipping address, proceed to payment step
3. Enter correct credit card number, but invalid CVV code, hit "Place Order"
4. Error message appears (Authorization failed)
5. Reload the p

[2018-08-10 16:03] david-fiaty-cko commented on #73
This seems to be a Magento 2 issue.
See
https://magento.stackexchange.com/questions/148454/shipping-address-missing-on-payment-page-refresh
or
https://github.com/magento/magento2/issues/6817

[2018-08-10 16:34] david-fiaty-cko commented on #73
The issue doesn't seem to be fixed in the version 2.2.3 you are using. Please consider upgrading.

[2018-08-10 16:34] #73 closed, assigned to nobody

[2018-09-25 10:50] sweethurricane7 opened #77 "Order status problem"
Hi,

Seems like there is an issue with "Authorization order status" setting.
By default it equals to **Pending Payment**, but in fact, the order status is always **Processing** after authorization.

Tested with the latest checkoutcom module on Magento 2.2.5

[2018-09-25 11:20] nicolas-maalouf-cko commented on #77
Hi @sweethurricane7

What integration mode are you using? Frames or Hosted? and are you testing with 3D Secure?

Have you configured the redirection and webhook URLs on your Checkout.com hub dashboard with the links provided in the plugin settings?

Thanks

[2018-09-26 13:56] nicolas-maalouf-cko commented on #77
Have you saved the different API keys in the configuration panel of the plugin?

Also are you running Magento2 on Windows?
Please have a look at this thread if it's the case:
https://github.com/magento/magento2/issues/13504

[2018-09-26 14:06] nicolas-maalouf-cko commented on #77
Where did you get the details from? Are you sure it's from Checkout.com?

In all cases you can get a Sandbox account by using the "Get test account" button found here:
https://www.checkout.com/

[2018-10-04 11:02] sweethurricane7 commented on #77
We use **Hosted** integration, no 3D Secure.
Webhooks are configured properly (we log all incoming requests from Checkout.com)
Magento 2 instance is running on Ubuntu.
This is happening in the production mode.

[2018-10-04 11:27] nicolas-maalouf-cko commented on #77
hi @sweethurricane7 can you please list the different order statuses configured in the plugin?
(New order status etc...)

Thanks

[2018-10-08 09:15] sweethurricane7 commented on #77
Here they are:

<img width="756" alt="checkoutcom-order-status" src="https://user-images.githubusercontent.com/36376477/46600722-c1145900-caf3-11e8-84b6-6a5ee7e17c38.png">

[2018-10-10 11:56] nicolas-maalouf-cko commented on #77
Hi @sweethurricane7,

Can you please provide your Sandbox account name so we can check the test transactions on our end?

Thank you

[2018-10-10 14:04] avaldi opened #78 "Redirect issue with 3DS enabled"
Hi guys,

We are facing an issue every time we enable 3DS payments.

Whenever a successful payment is made the following happens:
1. as expected, the user gets redirected to the success page configured in the Checkout Hub (`/success`)
2. right after, the plugin redirects the user again to the 3DS verification page showing an error saying `Merchant.Api.Models.ErrorResponse`
Here you can find the ch

[2018-10-10 18:25] david-fiaty-cko commented on #78
Hi @avaldi,

Here is a demo of the latest version of the module on Magento 2.2.5 similar to your installation:
http://151.80.61.232/m225

It is configured to trigger a 3DS flow with "attempt Non 3D" disabled. If you make a payment test, you will notice that the "Merchant.Api.Models.ErrorResponse" you are having doesn't happen here.

This issue happens when the PHP session is broken or lost. As a m

[2018-10-11 10:53] david-fiaty-cko commented on #77
@sweethurricane7, this looks like an issue in the module. It's picking the default store value when it should pick specific store values. We are working on a module update that will be released by the end of the week. You will be notified in this thread as soon as the update is available.

[2018-10-11 12:28] avaldi commented on #78
Hi @david-fiaty-cko

Thanks for the follow up.
I've been investigating a bit more and it seems like the checkout session is working fine. I checked what's stored in the session *before* the user leaves the webshop (to enter the 3DS page) and *after* he comes back. In both cases the values stored are the same:
<img width="445" alt="screen shot 2018-10-11 at 4 17 33 pm" src="https://user-images.gith

[2018-10-11 12:56] david-fiaty-cko commented on #78
@avaldi, if your issue is not at a server level then we should be able to reproduce it on our demo server. We will not be able to change the module code on the master branch as long as we can't reproduce the issue, as many merchants are using it live and don't have the issue reported.

Would you please mind checking the module configuration on our demo server and make sure it's the same as what yo

[2018-10-11 13:14] david-fiaty-cko commented on #78
@avaldi for information, the 3_d_s_redirect value in session is removed here with an observer:
https://github.com/checkout/checkout-magento2-plugin/blob/master/Observer/PlaceOrderObserver.php

This allows to avoid multiple 3DS redirections and it seems to be working perfectly so far on our demo instance. I could be wrong but I believe you should be looking at server/Redis config issues.

Please ha

[2018-10-11 13:29] david-fiaty-cko commented on #78
@avaldi we are going to run some tests once you have confirmed the config on our demo instance is the same as yours. A phpinfo() for your server config could also be very helpful. Please send it by email if possible.

[2018-10-12 15:51] david-fiaty-cko commented on #78
@avaldi there is a new release on the dev branch with support for dynamic 3DS that also disables the redirection in the place order observer. Please let us know if it works better for you.
The new code will be pushed to master early next week as soon as the automated testing process is completed.

[2018-10-13 14:14] avaldi commented on #78
Hi @david-fiaty-cko,

I've checked the demo instance you shared with me and it looks like we have pretty much the same configuration. The only main difference is on autocapture time that you have set to `0` while we have it at `0.2`.

The session issue you highlighted (magento/magento2#13511) is not our case as we consistently get redirected, it doesn't happen occasionally. Also, from my test the

[2018-10-30 16:50] david-fiaty-cko commented on #78
A new release 1.0.34 is available with the code tested on dev branch. Please reopen or create a new issue if needed.

[2018-10-30 16:50] #78 closed, assigned to david-fiaty-cko

[2018-10-30 16:51] david-fiaty-cko commented on #77
This issue should be fixed on the latest release 1.0.34. Please reopen if needed.

[2018-10-30 16:51] #77 closed, assigned to nobody

[2019-03-05 15:38] aquila-freitas-cko opened #89 "Disable logging by default."

[2019-03-05 15:41] #89 closed, assigned to aquila-freitas-cko

[2019-03-24 02:38] likemusic opened #92 "When cancel order there is no void transaction in magento and payment status not updated"
When close order there is no void transaction in magento and payment status not updated.
![image](https://user-images.githubusercontent.com/603401/54874153-a2cabd00-4df6-11e9-9c0a-e0758ee725a9.png)

I'm not sure, but seems that voided authorized payment should exists in "Transactions" table for order (in magento admin).
![image](https://user-images.githubusercontent.com/603401/54874161-c55cd600-4d

[2019-03-24 02:48] likemusic commented on #92
Its happens because for action on "Void" order payment button used \CheckoutCom\Magento2\Gateway\Http\Client\VoidTransaction, but for void on "Cancel" button used \CheckoutCom\Magento2\Model\Service\OrderService::cancelTransactionToRemote().

Seems that we have 2 points in code to call the same API methods on checkout.com. It's bad practice. Call to the same Api shoud be incapsulated in one method

[2019-03-24 02:54] likemusic opened #93 "Code stye doesn't follow MEQP coding standartd"
It would be creat to reformat code according to [MEQP Coding Standard](https://github.com/magento/marketplace-eqp).

[2019-03-24 03:08] likemusic opened #94 "Info about webhook and their configuration in readme required for plugin well work"
Endpoint should have webhook to change order status automaticaly according to plugin config . At the moment there is no info about it in readme.

Also a found that webhook controller acceps only limited types of events:
 - refund
 - void
 - authorize
- capture

All other event types could/should be disabled for webhook.

Imho, this info should be added to the readme, to prevent trubles with this p

[2019-03-24 03:33] likemusic opened #95 "Custom url for failured payment"
At the moment (for iframe integration) if user input invalid card data (for example bad cvv) hi is redirected to "checkout/cart". To fix his mistake he should:

1) Click "Proceed to checkout" to go to "checkout/#shipping".
2) Click "Next" to go to "checkout/#payment" and see iframe where to put card data.

In my case I have one more custom step between "checkout/#shipping" and "checkout/#payment".

[2019-03-24 12:05] david-fiaty-cko commented on #95
@likemusic, custom integrations that do not follow the core Magento 2 checkout process can indeed create issues in specific cases.

Some One Step Checkout modules for example will not work properly with third party payment modules because of the way these modules are designed.

Even though we try to be compatible with a maximum of third party integrations, we can't ensure 100% compatibility with a

[2019-03-24 12:16] david-fiaty-cko commented on #94
@likemusic, the webhooks are a more a Checkout.com Gateway feature than a Magento 2 module feature. Comprehensive information on how the web hooks work is available in the official Checkout.com documentation: https://docs.checkout.com/docs/webhook-management

In this documentation, you will find the following list of supported gateway events:
"payment_approved"
"payment_flagged"
"payment_pending"

[2019-03-25 09:58] likemusic commented on #94
@david-fiaty-cko listed abobe events - are events from newest api, that not supported by this magento module at all, as I can see by source code.

Event types that should be supported by this plugin listed in docs for classic Api here: https://archive.docs.checkout.com/docs/broadcast-webhooks

Event Types
- charge.succeeded
- charge.failed
- charge.captured
- charge.captured.failed
- charge.refund

[2019-03-25 10:27] david-fiaty-cko commented on #95
@likemusic, the #payment page will not display messages broadcasted using the Magento\Framework\Message\ManagerInterface class. We need to display error messages when returning from the gateway, which is the reason why we use the /cart page.

This will be improved in and upcoming release via the use of AJAX for the gateway requests. However redirecting to the #payment page as you asked is not doab

[2019-03-25 10:27] #95 closed, assigned to nobody

[2019-03-25 10:27] likemusic commented on #95
@david-fiaty-cko

By custom module. But for this issue it doesn't matter, how added new steps.

We separate managing billing address to separate step, but it doesn't matter for this issue.

We ase use many third party module, but it doesn't matter for this issue.

The point of this bug is just suggest you to redirect after failure payment not to cart  page (`checkout/cart`), but to checkout paymen

[2019-03-25 10:31] likemusic commented on #95
@david-fiaty-cko I don't understand why you close issue before you get feedback on it?

[2019-03-25 10:47] david-fiaty-cko commented on #94
@likemusic , yes indeed there is an error in the link I sent to you and I'm glad you found the right page int the archives.

The module does update the order status according to the config. The explanations about the feature is in the "Order settings section".

The events processed in the callback service are indeed charge.succeeded, charge.captured, charge.refunded, charge.voided, which are the o

[2019-03-25 10:49] david-fiaty-cko commented on #93
Thank you for the comment. We are working on a release that will follow the MEQP Standard. You will be informed as soon as it's out.

[2019-03-25 10:49] #93 closed, assigned to nobody

[2019-03-25 10:55] david-fiaty-cko commented on #92
@likemusic, answers point by point below:

1- When close order there is no void transaction in magento and payment status not updated
Closing an order is not supposed to void a transaction. In order to void a transaction, you have to use the credit memo system

2- I'm not sure, but seems that voided authorized payment should exists in "Transactions" table for order (in magento admin).
There is no

[2019-03-25 11:54] likemusic commented on #92
@david-fiaty-cko

I'm sorry, I told about "Close" order operation. In this case authorized payment voided by [\CheckoutCom\Magento2\Observer\OrderCancelObserver](https://github.com/checkout/checkout-magento2-plugin/blob/master/Observer/OrderCancelObserver.php). I renamed "close" to "cancel" in issue title right now.

[2019-03-25 11:54] likemusic commented on #92
Seem't that you're wrong. Please look at [\Magento\Sales\Api\Data\TransactionInterface](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Sales/Api/Data/TransactionInterface.php):

[code]

[2019-03-25 11:55] likemusic commented on #92
But why? It is not obvious. It's seems like anothe bug in this module implementation. What sense to show for admin status payment "authorized", when it was already captured, or voided or refunded?
Why it's not show real current state of payment?

[2019-03-25 12:01] likemusic commented on #93
@david-fiaty-cko wy not keep this issue opened until it will be fixed?

[2019-03-25 12:50] likemusic commented on #94
@david-fiaty-cko , info that you provide above very helpfull, and I this that it should be added to the readme file. Something like this:

[code]

What do you think about it?

Seems that logging not used in webhook controller at all. I couldn't find it both in `\CheckoutCom\Magento2\Controller\Webhook\Callback` and `\CheckoutCom\Magento2\Model\Service\CallbackService`.

Also I set breakpoints for

[2019-03-26 10:10] david-fiaty-cko commented on #93
We are working on a new release completely redesigned for the new Checkout.com gateway. The MEQP Standard will be taken in account for the new series. Not for the series available now.
If it can help I have added a "won't fix" label to the issue. Thank you.

[2019-03-26 10:16] david-fiaty-cko commented on #92
@likemusic yes indeed there are void and refund transaction types.
For the order status, this is the way Magento 2 works as far as I know. You can try updating an order status. It will be updated everywhere but not there.

[2019-03-26 13:57] david-fiaty-cko commented on #94
@likemusic, this issue is reopened until the readme file has the additions suggested.
About the logging, the transaction information is currently stored in the order details at a transaction level. This could be indeed be improved with logging in var/log, which will be added in an upcoming release.

[2019-03-26 14:06] david-fiaty-cko commented on #92
@likemusic it seems that the payment information is stored in the order details (payment information) by providing an array at the order creation.

This is the reason why the initial status assigned to the order is not updated in the payment information section, as the module doesn't directly edit the array in case of order status update.

The issue is reopened to see if it's a good approach to ed

[2019-03-26 14:13] likemusic commented on #94
@david-fiaty-cko Transation information created in placeOrder-controller. No transactions created upon any webhook calls.

[2019-04-03 13:45] joe-vortex opened #98 "Saved card vault title not showing"
## Issue
Saved cards don't show the vault title set in system config under `payment/checkout_com_cc_vault/title` on https://github.com/checkout/checkout-magento2-plugin/blob/master/Gateway/Config/Config.php#L218

## Solutions
This can be fixed by either:
- Setting the payment method code within this class before the return statement: `        $this->setMethodCode('checkout_com_cc_vault');` and cha

[2019-04-03 17:15] david-fiaty-cko commented on #98
@joe-vortex, thank you for your comments. A new release 1.0.44 is available with the relevant changes.

[2019-04-03 17:15] #98 closed, assigned to nobody

[2019-04-04 08:34] joe-vortex commented on #98
@david-fiaty-cko Thanks very much for that! I'd made a patch for the project I was working on but can just update the module version now. I'll let you know if I find any other bugs :slightly_smiling_face:

[2019-04-04 10:22] david-fiaty-cko commented on #92
@likemusic, for clarification:
Cancelling an order doesn't mean that the associated transactions should be voided (authorisation) or refunded (capture). Voiding or refunding a transaction should be explicit.

Magento 2 offers the possibility to void a transaction or to refund a transaction. Cancelling an order shouldn't trigger implicitly a void or refund.

Please follow the link below to see how

[2019-04-04 10:22] #92 closed, assigned to nobody

[2019-04-04 11:41] david-fiaty-cko commented on #94
@likemusic, it's confirmed that the only web hooks that require specific business logic on the orders are the following:
- charge.succeeded > authorize
- charge.captured > capture
- charge.refunded > refund
- charge.voided > void

The other webhooks you have listed are simply informative on the Magento 2 level and there is no specific action to take on orders or transactions.

For example, if a vo

[2019-04-04 11:41] #94 closed, assigned to nobody

[2019-04-06 15:08] david-fiaty opened #101 "Config loader refactoring"
https://github.com/checkout/checkout-magento2-plugin/blob/f91ddba78ecac0e963cc74ec2351be01f0268369/Gateway/Config/Config.php#L83

The getEnabledMethods() is inherited from the \Magento\Payment\Gateway\Config\Config class and will get the payment methods enabled on a website level.

It will not check which internal Checkout.com payment methods are enabled. The result is that the payment methods wil

[2019-04-06 15:12] david-fiaty-cko commented on #101
More globally, the config provider will need optimisation. We will:
1- load the config.xml file with xml parser
2- loop through each value in the xml file and retrieve the db value
3- Send a merged array of xml and db values to the config provider

[2019-04-07 13:08] david-fiaty-cko commented on #101
issue fixed merging upa-config-loader branch into upa branch:
https://github.com/checkout/checkout-magento2-plugin/commit/cd5dce13fe3aeb2a9264e824c5474ef80ff462aa

[2019-04-07 13:08] #101 closed, assigned to nobody

[2019-05-14 13:40] joe-vortex opened #120 "Frames JS error"
From a default setup, going to Stored Payment Methods in the customer account area, an error is thrown - `Uncaught ReferenceError: Frames is not defined` - looking in `vault_cards_listaction.xml` there is a script tag - `<script src="CheckoutCom_Magento2/js/collapseForm.js"/>` which relies on a window variable `Frames`.

Suggestion would be to:
- remove `<script src="CheckoutCom_Magento2/js/collap

[2019-05-14 14:39] david-fiaty-cko commented on #120
@joe-vortex thanks from your message. We haven't managed to reproduce this error on a default setup. Please check the screenshot below to see that the console is clean and Frames displaying properly.
Could you please provide more information on your specific context and/or on how to reproduce this?

<img width="1424" alt="frames-integration" src="https://user-images.githubusercontent.com/26484662/

[2019-05-15 08:26] joe-vortex commented on #120
Hey @david-fiaty-cko, my apologies, I found there was an override in my theme, preventing the embedded url from showing outside the checkout. It works without that override. However I would still point out that for performance purposes my PR should still be considered so that the script is not render blocking. including script tags in a template is not in keeping with magento best practices.

[2019-05-15 09:38] david-fiaty-cko commented on #120
@joe-vortex, thanks for your message. We are working on a new version of the module that will consider your observations.

The current release is stable. It's preferable not to add changes not addressing an issue that will require additional testing and maybe impact other merchants. Thank you.

[2019-05-15 09:38] #120 closed, assigned to nobody

[2019-05-15 09:41] joe-vortex commented on #120
sure, thanks for taking the time to consider my suggestion.

[2019-06-18 03:51] kaushalsutharoc opened #151 "How to override CheckoutCom\Magento2\Gateway\Http\TransferFactory"
Not an issue but need suggestion.

I'm trying to override the function `create()` from `CheckoutCom\Magento2\Gateway\Http\TransferFactory` file.

I've added following
`<preference for="CheckoutCom\Magento2\Gateway\Http\TransferFactory" type="Mymodule\CheckoutCom\Gateway\Http\TransferFactory" />`

But it's not working.

I need to override because I want to use the different secret key from differen

[2019-06-20 16:36] david-fiaty-cko commented on #151
@kaushalsutharoc the module you're currently testing will be deprecated in a few days.
Please try the first release of the 2.0 series available here (upa branch): https://github.com/checkout/checkout-magento2-plugin/tree/upa

You can also get it via composer with the following command:
composer update checkoutcom/magento2:dev-upa

The module has been completely re-written, tested and has many addi

[2019-07-07 07:11] parekhreena opened #164 "The latest upgrade does not work with Javascript minification enabled"
The checkout page fails to load with below error:
`[2019-07-03 03:04:59] [ERROR] Failed to load the "CheckoutCom_Magento2/js/view/payment/method-renderer/checkoutcom_card_payment" component.`

This happens when Javascript minification and bundling is enabled.

[2019-07-07 07:16] parekhreena opened #165 "Incorrect Callback URL in store view"
The callback URL field in Admin > Stores > Configuration which gets auto-populated always takes the default store value. It should take the value based on the callback URL set against account keys which are at store view level. So for instance if default store callback URL is www.example.com/checkout/success
and store view level callback URL is www.example.com/ae_en/checkout/success , in this case

[2019-07-08 14:22] david-fiaty-cko commented on #165
Hi @parekhreena, this field is just informative and the value is not actually used.
In the payment request, the value that is used is the one of the current store.

This is done dynamically and the value of the field you are looking at is never used. The use of this field was deprecated in previous versions and doesn't exist in the latest versions of the module.

Please upgrade to the latest versi

[2019-07-08 17:38] david-fiaty commented on #164
@parekhreena, could you please specify how you enable minification and bundling?

[2019-07-11 06:01] kaushalsutharoc commented on #151
Thanks @david-fiaty-cko

[2019-07-11 06:01] #151 closed, assigned to nobody

[2019-07-14 07:33] parekhreena commented on #164
@david-fiaty We are Using Standard Magento steps: https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/themes/js-bundling.html

[2019-07-14 13:34] david-fiaty-cko commented on #164
The following URL has been made available for the Frames integration: https://cdn.checkout.com/js/frames.min.js​
You should now be able to run minified/bundled installations without issues.
Please reopen if needed.

[2019-07-14 13:34] #164 closed, assigned to nobody

[2019-07-14 13:34] #165 closed, assigned to nobody

[2019-07-21 18:30] david-fiaty-cko commented on #93
@likemusic, please have a look at the new plugin version 2.0.4 on the master branch, it follows the MEQP standard and is also available on the market place.

[2019-07-29 09:21] kaushalsutharoc opened #174 "PHP Fatal error: Uncaught Error: Call to a member function getPayment() on null"
PHP Fatal error:  Uncaught Error: Call to a member function getPayment() on null in vendor/checkoutcom/magento2/Helper/Utilities.php:94

Magento ver: Magento 2.2.5
Checkout.com module version : 2.0.5

When I try to place order with Product which has only 1 Qty available.

I traced error and found at  vendor/magento/module-quote/Model/QuoteManagement.php: 522

It throwing an error of Product is out

[2019-07-29 18:16] david-fiaty-cko commented on #174
@kaushalsutharoc, thank you for the feedback. Do you have anything in var/log/checkoutcom_magento2.log, var/log/system.log, var/log/exception.log or var/log/debug.log related to this error?

[2019-07-30 06:26] kaushalsutharoc commented on #174
var/log/checkoutcom_magento2.log
INFO (6): This product is out of stock.

[2019-07-31 10:35] david-fiaty-cko commented on #174
@kaushalsutharoc, do you get any duplicate orders, when this issue happens?

[2019-08-01 08:52] kaushalsutharoc commented on #174
@david-fiaty-cko yes we do get duplicate orders.

[2019-08-05 13:46] david-fiaty-cko commented on #174
@kaushalsutharoc, the duplicate order issue is a core bug that has been reported on Magento’s GitHub repository on version 2.2.

The bug has been acknowledged by the core team but seems to be still present on 2.3 series:
https://github.com/magento/magento2/issues/13952

We are investigating solutions to overcome this core issue, I will let you know as soon as we have a viable workaround.

[2019-08-05 13:53] kaushalsutharoc commented on #174
Okay, Thanks @david-fiaty-cko.

I've more one question if you don't mind.

When we do partial refund from Magneto backend, (Order > Invoice > View Invoice > Credit Memo > Refund)

Suppose if there are two items and I refund 1 item only then it works as expected but invoice status change to cancel so now I can't refund remaining item in this case.

Thanks.

[2019-08-08 12:26] parekhreena opened #175 "After enabling live payments with 3DS enabled - success page does not get shown. This only happens with live payments and not on sandbox."
Hi,

We switched from test environment to live environment. The setting is Authorize only in magento and 3DS is enabled. After customer places an order, they are redirected to bank website where they are charged successfully and then back to magento. the transaction in checkout.com shows as Authorized only, but customer receives a message from bank that amount was captured and when customer is red

[2019-08-08 12:28] kaushalsutharoc commented on #175
@parekhreena try to check `var/log/checkoutcom_magento2.log` if it may help.

[2019-09-10 20:21] fmjrey commented on #174
Also as I explained in https://github.com/magento/magento2/issues/13952#issuecomment-530102166 there may be a case where duplicate orders are created even with a non null payment.

[2019-09-18 14:32] david-fiaty-cko commented on #174
@kaushalsutharoc we haven't been able to reproduce this. If however you're still having the issue with the latest version 2.0.6, please open a separate issue of this additional question.

[2019-09-18 14:32] #174 closed, assigned to nobody

[2019-09-18 14:37] david-fiaty-cko commented on #175
@parekhreena we haven't been able to reproduce this issue. Sandbox uses the same request/response data and workflow as live. This looks like a possible misconfiguration fo your account.  Please reopen if the issue persist, with more information if possible.

[2019-09-18 14:37] #175 closed, assigned to nobody

[2019-10-16 05:03] skynixukraine opened #184 "Version 2.0.9 does not work in production mode"
Steps to reproduce the issue:

1. Enable JS minification, merging & bundling
2. Enable production mode

We can see that the site is broken, when it should load 1 minified, merged and bundled Javascript, it is trying to load non existing regular JS files, see attached screen
<img width="662" alt="SUNSHINE NUTRITION - Brands 2019-10-16 08-00-29" src="https://user-images.githubusercontent.com/1269016

[2019-10-16 10:20] a970032 opened #185 "PaymentMethod not showing in frontend checkout page - M2 2.3.3&2.2.8"
![image](https://user-images.githubusercontent.com/18587853/66910634-7b149e00-f041-11e9-9135-cfa69efbdf81.png)
Enabled in backend but payment method is not showing in checkout page please fix this asap my client is using this module to do payment

[2019-10-16 16:58] david-fiaty-cko commented on #185
@a970032, payment options show only if they are properly configured and ready to run.
In the case of Apple Pay, please make sure you have provided:

- Public key, private key, private shared key for the Checkout.com account
- Merchant id and certificates for the Apple Pay account

[2019-10-16 16:58] #185 closed, assigned to nobody

[2019-10-17 18:16] david-fiaty-cko commented on #184
@skynixukraine, this is fixed in the latest release 2.0.10

[2019-10-17 18:16] #184 closed, assigned to nobody

[2019-12-04 13:42] david-fiaty-cko opened #197 "Update the field comment"
https://github.com/checkout/checkout-magento2-plugin/blob/6c3334467bbaa6d6fed372d88e3a2d4ac23757c5/etc/adminhtml/system.xml#L93

The field comment is currently "Select the action that should that should be used for orders with failed payments".

Could we please update to "Select the action that should be taken for a new order with a failed payment".

[2019-12-04 13:47] david-fiaty-cko opened #198 "Fields labels update"
https://github.com/checkout/checkout-magento2-plugin/blob/6c3334467bbaa6d6fed372d88e3a2d4ac23757c5/Model/Config/Backend/Source/ConfigOrderActionFailedPayment.php#L27

Could we please update the field labels as following:
"Cancel Order" => "Cancel the order"
"Stay Pending" => "Do nothing"

[2019-12-04 18:05] #198 closed, assigned to luke-fenn-cko

[2019-12-04 18:06] #197 closed, assigned to luke-fenn-cko

[2020-02-27 19:29] abdokouta opened #235 "Undefined index: expiry_month upon saving card"
{"0":"Notice: Undefined index: expiry_month in \/home\/magento\/public_html\/vendor\/checkoutcom\/magento2\/Model\/Vault\/VaultToken.php on line 64","1":"#1 CheckoutCom\\Magento2\\Model\\Vault\\VaultToken->create() called at [vend$

[2020-02-29 08:13] abdokouta commented on #235
any update?

[2020-03-01 21:11] david-fiaty-cko commented on #235
Hi @abdokouta, we're currently looking into this. We will get back to you asap with more information.

[2020-03-02 11:09] david-fiaty-cko commented on #235
@abdokouta could you please confirm which version of the Checkout.com Magento 2 module you are using?

[2020-03-02 16:20] abdokouta commented on #235
2.2.2 and for magento 2.3.4

[2020-03-02 19:54] abdokouta commented on #235
and there is another issue showing in backend
`Warning: count(): Parameter must be an array or an object that implements Countable in /home/magento/public_html/vendor/checkoutcom/magento2/Model/Service/VersionHandlerService.php on line 143
`

[2020-03-02 20:04] luke-fenn-cko commented on #235
Hello
Thank you for raising this. We're currently still investigating your first issue.
 As for your second issue, this is something that has previously been noticed and the fix will be included in an upcoming release. However, if you would like to, you could get this fix by downloading the master version.
To do this, on the composer section of the module install, run:
`composer require checkoutco

[2020-03-02 20:24] david-fiaty-cko commented on #235
@abdokouta, the second issue has a fix available on the master branch. Even though a new release hasn't been created yet, you can still download the latest fixes from the master branch.

[2020-03-03 20:52] abdokouta commented on #235
@david-fiaty-cko @luke-fenn-cko thank you for ur collaborating. for the first issue it's important to us, cuz we need to offer saving cards so i will follow up

[2020-03-05 17:12] DanielSousa opened #237 "Warning message on admin"
Magento version: 2.3.0
checkoutcom version: 2.2.2

Steps to reproduce:

1. Install the extension in developer mode
[code]

2. Login in to admin

An warning message is shown
[code]

[2020-03-05 17:22] luke-fenn-cko commented on #237
Hello,

Thank you for reporting this.

This issue is specific to version 2.2.2 of the plugin and has already been noted, with a fix coming in the next release.

If I might provide some reassurance however, it will only affect the message queue in Magento admin and should not cause any issues with taking payment.

Many thanks,
Luke

[2020-03-05 17:33] luke-fenn-cko commented on #235
@abdokouta

Hello,

A quick update on the status of this issue. We have identified the cause and are working on a fix.

As you mentioned, saved cards are needed for you. If you would like to offer the ability to save cards, while you wait for the fix to be released, then please make sure that in your checkout.com module configuration, under the 'Saved Card Payments' tab, that you have 'Use 3D Secu

[2020-03-06 19:08] abdokouta commented on #235
@luke-fenn-cko i have tried your solution and it says The payment card has been stored successfully. but upon refreshing the page nothing saved!

[2020-03-09 09:00] abdokouta commented on #235
update please !?

[2020-03-19 15:03] abdokouta commented on #235
@david-fiaty-cko @luke-fenn-cko is there any update?

[2020-03-25 15:21] disiri opened #243 "The order confirmation email is not sent"
Hi guys,

Seems like the order email is not being sent when I used the checkout.com payment method. Do you guys have any idea? Only happens on order.. invoicing is fine. Currently running magento 2.3.4 and on test account of checkout.com

[2020-03-25 16:00] disiri commented on #243
Ok update, when I placed the order.. status is only set to Pending?

[2020-03-25 16:51] david-fiaty-cko commented on #243
@disiri, the reason for this is probably that your Webhook URL is incorrect or not provided in the Hub. For more info, please have a look at the last section "Webhook URL" of the readme file.

[2020-03-25 19:04] disiri commented on #243
Everything was set accordingly, i had checked it multiple times figuring out what went wrong. Even deleted the hooks and requesting it again but still no luck. See below attachment for my settings on magento and sandbox.

![image](https://user-images.githubusercontent.com/8130617/77574906-27f61f80-6eec-11ea-80ba-eb4588f21114.png)
![image](https://user-images.githubusercontent.com/8130617/77574928-

[2020-03-25 19:09] disiri commented on #243
Also since I'm on developer mode, I don't need to run the bin/magento setup:di:compile? Right?

[2020-03-26 08:46] disiri commented on #243
This fixed by doing setup:di:compile

[2020-03-26 08:46] #243 closed, assigned to david-fiaty-cko

[2020-03-26 09:49] disiri opened #244 "Set as default payment method"
Is there anyway where I can set this as a default payment method? Mixins seems to be not working. Tried out adding the this.selectPaymentMethod() in the init functions but there are some complications on other functions.

Please advise.

[2020-03-26 10:37] david-fiaty-cko commented on #244
@disiri, setting the order of your payment options should do the trick. Put checkout.com first in the list.

[2020-03-26 10:57] disiri commented on #244
I only have checkoutcom payment method, radio button is selected (but the radio button is hidden since only one, not sure if that's magento default functionality) but the payment form/frame is not properly loaded.

[2020-03-28 22:27] abdokouta commented on #235
@david-fiaty-cko @luke-fenn-cko any update about vault issue?

[2020-03-30 01:27] david-fiaty-cko commented on #235
Hi @abdokouta, we have a fix implemented on the following branch:
https://github.com/checkout/checkout-magento2-plugin/tree/github-card-issue

It's just going through QA now and we will hopefully be able to make it available asap this week. You will be notified as soon as the branch is confirmed functional.

In the meantime, feel free to test the branch if needed and let us know how it works for y

[2020-03-31 09:13] vikasi95dev opened #248 "Warning: count(): Parameter must be an array or an object that implements Countable in /chroot/home/ininefiv/ecommerce-for-erp.com/html/vendor/checkoutcom/magento2/Model/Service/VersionHandlerService.php on line 143"
Hello Team,

I have noticed below error after installing the extension on Magento 2.3.4 Open Source. Can you please look into this.

Warning: count(): Parameter must be an array or an object that implements Countable in /chroot/home/ininefiv/ecommerce-for-erp.com/html/vendor/checkoutcom/magento2/Model/Service/VersionHandlerService.php on line 143

[2020-04-01 05:59] david-fiaty-cko commented on #248
@vikasi95dev, this issue seems to be a duplicate of https://github.com/checkout/checkout-magento2-plugin/issues/237.

I'm closing this one but please feel free to post your questions there if needed. Thank you.

[2020-04-01 05:59] #248 closed, assigned to nobody

[2020-04-02 20:43] david-fiaty-cko commented on #235
@abdokouta, this issue should now be fixed in the 2.2.3 RC version:
https://github.com/checkout/checkout-magento2-plugin/tree/2.2.3-candidate

This is in now in active QA. You will be informed as soon as the official release is available but please feel free to test the RC.

[2020-04-02 20:43] david-fiaty-cko commented on #235
@abdokouta, this issue should now be fixed in the 2.2.3 RC version:
https://github.com/checkout/checkout-magento2-plugin/tree/2.2.3-candidate

This is in now in active QA. You will be informed as soon as the official release is available but please feel free to test the RC.

[2020-04-02 21:08] david-fiaty-cko commented on #237
@vikasi95dev, @DanielSousa, this issue should now be fixed in the 2.2.3 RC version:
https://github.com/checkout/checkout-magento2-plugin/tree/2.2.3-candidate

This is in now in active QA. You will be informed as soon as the official release is available but please feel free to test the RC.

[2020-04-03 00:36] david-fiaty-cko commented on #244
@disiri this issue should now be fixed in the 2.2.3 RC version:
https://github.com/checkout/checkout-magento2-plugin/tree/2.2.3-candidate

This is in now in active QA. You will be informed as soon as the official release is available but please feel free to test the RC.

[2020-04-06 20:22] david-fiaty-cko commented on #244
@disiri, there is a. new release with a fix for this issue:
https://github.com/checkout/checkout-magento2-plugin/releases/tag/2.2.3

[2020-04-06 20:23] david-fiaty-cko commented on #237
@vikasi95dev, @DanielSousa , there is a new release with a fix for this issue:
https://github.com/checkout/checkout-magento2-plugin/releases/tag/2.2.3

[2020-04-06 20:23] david-fiaty-cko commented on #235
@abdokouta, there is a new release with a fix for this issue:
https://github.com/checkout/checkout-magento2-plugin/releases/tag/2.2.3

[2020-04-06 20:35] abdokouta commented on #235
okay, thank you @david-fiaty-cko i will let u know the updates, there is another issue in account tabs the stored cards tab duplicated and i have test it on another Magento setup and still the same even after the update to latest version of checkout.com, i have attached a screenshot.
<img width="1680" alt="Screen Shot 2020-04-06 at 11 34 03 PM" src="https://user-images.githubusercontent.com/129349

[2020-04-06 20:42] abdokouta commented on #235
@david-fiaty-cko another issue https://beta.magento.pixiedia.com/en_sa/checkout_com/account/savecard/

`Exception #0 (Exception): Notice: Undefined offset: 1 in /home/magento/public_html/vendor/checkoutcom/magento2/Controller/Account/SaveCard.php on line 72
`

[2020-04-07 17:47] david-fiaty-cko commented on #237
Closing this issue as it's now fixed in the 2.2.3 release.

[2020-04-07 17:47] #237 closed, assigned to nobody

[2020-04-07 17:48] david-fiaty-cko commented on #244
Closing this issue as it's now fixed in the 2.2.3 release.

[2020-04-07 17:48] #244 closed, assigned to nobody

[2020-04-08 01:41] abdokouta commented on #235
@david-fiaty-cko @luke-fenn-cko update please?

[2020-04-09 20:18] david-fiaty-cko commented on #235
@abdokouta, fixes for this notice error and for the duplicated account link is available on the 2.2.4 RC branch:
https://github.com/checkout/checkout-magento2-plugin/tree/2.2.4-candidate

This branch is currently under QA. You will be informed as soon as there is a stable release but feel free to try the RC and give us your feedback.

[2020-04-12 04:18] abdokouta commented on #235
@david-fiaty-cko, okay thank you. Waiting ...

[2020-04-16 20:43] david-fiaty-cko commented on #235
@abdokouta, this issue should now be fixed on the latest 2.2.4 release:
https://github.com/checkout/checkout-magento2-plugin/releases/tag/2.2.4

You can try the release and close this issue if you're happy with it.
In the case you need to raise other matters, please open separate issues for each one of them rather than adding unrelated topics here.

[2020-04-17 02:24] #235 closed, assigned to luke-fenn-cko

[2020-04-28 05:27] abdokouta opened #268 "Save Card upon checkout"
Hello, there is an issue in the checkout if the customer check save card upon checkout payment and after successfully creating the order if u navigate to account then stored payment u will get no card saved ! can u verify this please it's urgent for us we are production environment.

[2020-04-28 21:45] abdokouta commented on #268
any updates please?

[2020-04-28 21:46] luke-fenn-cko commented on #268
Hello,

We are currently looking into this. We will get back to you as soon as we have an answer.

Thank you,

Luke

[2020-04-29 20:48] david-fiaty-cko commented on #244
@disiri, there is a new configuration parameter allowing admins to decide which Checkout.com payment option should be selected by default.
This parameter is available on the module config page in Stores > Configuration > Sales > Payment methods > Checkout.com > Configuration > Global settings > Default active method

<img width="845" alt="Screenshot 2020-04-29 at 21 41 28" src="https://user-images

[2020-05-01 19:28] abdokouta commented on #268
any updates please?

[2020-05-06 20:22] abdokouta commented on #268
@luke-fenn-cko any updates, please?

[2020-05-07 13:20] luke-fenn-cko commented on #268
Hello,

We're working on a fix now. This should be available in the next release.

Thank you for your patience,

Luke

[2020-05-11 00:58] abdokouta commented on #268
@luke-fenn-cko any ETA from the next relase ?

[2020-05-13 03:18] abdokouta commented on #268
@luke-fenn-cko we are in production ENV please update us ?

[2020-05-13 05:05] david-fiaty-cko commented on #268
@abdokouta, an update is available on the master branch to fix this issue. There won't be a new release before the end of the month as we have other features to validate but you can download the files on the master branch and give us your feedback.

[2020-05-14 00:58] kh-rawasy opened #275 "Class Checkout\Library\ HttpHandler does not exist"
You received the following error:
Class Checkout\Library\ HttpHandler does not exist

[2020-05-14 10:35] david-fiaty-cko commented on #275
@kh-rawasy, it looks like you've installed the Checkout.com Magento 2 module manually. We do not offer support for manual installation as our integration has a dependency on the Checkout.com PHP SDK: https://github.com/checkout/checkout-sdk-php

Please use composer to install the Checkout.com Magento 2 module.

[2020-05-14 10:35] #275 closed, assigned to nobody

[2020-05-19 13:37] abdokouta commented on #268
@david-fiaty-cko  @luke-fenn-cko  u have updated payment.php in a controller and i have test on my setup and it still not working!

[2020-05-20 08:59] david-fiaty-cko commented on #268
@abdokouta, updating payment.php in a controller is not enough as there are many files that have been updated. Please download the files on master and update the installation.

[2020-05-21 12:00] abdokouta commented on #268
@david-fiaty-cko @luke-fenn-cko what is the value of updating files and u only updated one file 9 days ago !!, and other files are updated from months ago and I already up to date with 2.2.4 version? are u sure about ur replies?

<img width="1680" alt="Screen Shot 2020-05-21 at 2 57 49 PM" src="https://user-images.githubusercontent.com/12934929/82557002-8863af00-9b73-11ea-8f27-88d906e5f440.png">

[2020-05-27 10:21] abdokouta commented on #268
@david-fiaty-cko @luke-fenn-cko

[2020-05-27 10:28] luke-fenn-cko commented on #268
Hello,

The master branch has been through two rounds of QA with this fix on and saved card from checkout has been shown to be working. The version 2.2.4 does not have this fix on, you will need to update from composer.

Please use `composer require checkoutcom/magento2:dev-master` to implement this fix.

Thank you

[2020-06-01 09:21] emrahuyanik opened #280 "product_price_required Error for Fawry"
We are using fawry payment method and we faced with that issue for carts which has free shipping.

https://github.com/checkout/checkout-magento2-plugin/blob/5c2c0f60e05c19400c0486e8e787ccd73be00241/Model/Methods/AlternativePaymentMethod.php#L567

When we debug the code, we saw that there is a missing condition when calculationg product rows. It is trying to send free shipping in products row, and

[2020-06-25 14:35] mdanilowicz opened #298 "API - Masked quote_id"
https://docs.checkout.com/quickstart/integrate/e-commerce-platforms/magento-2/magento-2-storefront-integration

There is no possibility to send the order as a guest because of lack of support for masked quote id.

https://github.com/checkout/checkout-magento2-plugin/blob/master/Controller/Api/v1.php#L239
https://github.com/checkout/checkout-magento2-plugin/blob/master/Controller/Api/v1.php#L210-L2

[2020-07-15 10:37] luke-fenn-cko commented on #268
Hello,
I am closing this issue as there has been no activity for 30 days.
Thank you,
Luke

[2020-07-15 10:37] #268 closed, assigned to nobody

[2020-07-23 17:15] anhchienhoang opened #313 "NOTICE: UNDEFINED INDEX: PUBLICHASH"
When paying with stored card, I got this error:

NOTICE: UNDEFINED INDEX: PUBLICHASH IN VENDOR/CHECKOUTCOM/MAGENTO2/MODEL/METHODS/VAULTMETHOD.PHP ON LINE 241

Am I missing any config for this?

Magento v2.3.4

[2020-07-23 17:18] anhchienhoang opened #314 "Error when paying with Credit card"
After paying with CC (sandbox environment) I was redirected to this page `/checkout/onepage/success/` and it shows the error `502 Bad Gateway`.

I have no idea about this?! I'm using Magento version 2.3.4

[2020-07-23 19:30] anhchienhoang commented on #314
It's fixed, actually nginx config need to be adjusted to allow more buffer-size

[2020-07-23 19:30] #314 closed, assigned to nobody

[2020-07-25 21:28] anhchienhoang commented on #313
I don't know why it works again after I reinstall the whole site.

[2020-07-25 21:28] #313 closed, assigned to nobody

[2020-08-19 17:07] alexryall opened #323 "Apple Pay cart page button broken for virtual/downloadable product orders"
For an order that contains only virtual/downloadable products that does not require a shipping address or shipping method https://github.com/checkout/checkout-magento2-plugin/blob/master/view/frontend/web/js/view/payment/cart/checkoutcom_applepay_cart.js will error in a number of places as it is assuming a shipping address and shipping method is required. This is the first error that would be enco

[2020-08-25 13:30] halitsavafoglu opened #329 "Errors within Configuration -> Payment methods page"
I've installed the latest version of your extension 2.2.6 on my Magento 2.2.3 store manually inside the path:
app/code/CheckoutCom/Magento2

Unfortunately, I'm receiving an error when I reach Store -> Configuration -> Payment Methods:
Class Checkout\Library\HttpHandler does not exist

Details in the log/system.log:

main.CRITICAL: Class Checkout\Library\HttpHandler does not exist [] []
main.CRITIC

[2020-08-25 16:57] david-fiaty-cko commented on #329
@khaledsawwaf the Checkout.com M2 module depends on the Checkout.com SDK: https://github.com/checkout/checkout-sdk-php

This SDK is declared as a dependency in the composer.json file and is installed automatically when you run the installation of the Checkout.com M2 module via composer. The error you're having shows that the PHP SDK can't be found on your installation.

Because manual installation

[2020-09-01 12:44] Lukas713 opened #333 "Cannot change order status from pending to holded"
We have installed checkout.com extension on magento 2 installation. When you create an order, the webhook will insert record inside `checkoutcom_webhooks` table. Newly, successful orders will get status `pending` (in our case). And when the order is edited to the status `holded`, the plugin `\CheckoutCom\Magento2\Plugin\Backend\OrderAfterSave::afterSave` is invoked. It will load the pre-inserted r

[2020-09-01 12:47] #329 closed, assigned to nobody

[2020-09-04 10:51] luke-fenn-cko commented on #280
Hello Emrah,

I hope all is well.
We have addressed this now and the fix for this is will be available in an a new release of the plugin, version 2.2.7. We hope to release this in the coming weeks.
We really appreciate your patience.

Thank you,
Luke

[2020-09-09 09:55] akin-kayim-cko commented on #333
@Lukas713 thank you for raising this. For clairity, could you please confirm what the expected functionality is for the above use case.

[2020-09-09 11:03] david-fiaty-cko commented on #333
@Lukas713 if you look at line 149 of the same file, you will see that there is condition checking if the code you're referring to should be executed: https://github.com/checkout/checkout-magento2-plugin/blob/5194e34cbc7f3d42155f02faaf23bf07fcea12fc/Model/Service/TransactionHandlerService.php#L149

The call chain will then lead to the line 432 you're referring to. This check says that the code shou

[2020-09-09 11:38] david-fiaty-cko commented on #298
@mdanilowicz, the 2.2.6 release was shipped with support for masked quote id. I'm closing this issue for now, please feel free to reopen if needed.

[2020-09-09 11:38] #298 closed, assigned to nobody

[2020-09-13 15:17] daweedco opened #340 "Undefined property: stdClass::$response_code"
Magento version 2.3.3
checkout-magento2-plugin version : 2.2.6

error in log :

{"0":"Notice: Undefined property: stdClass::$response_code in \/web\/vendor\/checkoutcom\/magento2\/Model\/Service\/PaymentErrorHandlerService.php on line 74","1":"<pre>#1 CheckoutCom\\Magento2\\Model\\Service\\PaymentErrorHandlerService->logError() called at [vendor\/checkoutcom\/magento2\/Controller\/Webhook\/Callbac

[2020-09-23 19:41] brucemead commented on #333
Hi @david-fiaty-cko, we're experience this with one of clients too.

Replication Steps:
- Place order
- Ensure the order has the payment captured
- 'Hold' the order

Actual results
- Order remains in the original state and status

Expected results
- Order moves to the `state` = `holded` and `status` = `holded`

For us the issue is stemming from the `CheckoutCom\Magento2\Plugin\Backend\OrderAfterSa

[2020-09-23 19:49] brucemead commented on #333
My quick and dirty workaround so that our clients can use the hold feature:
[code]
For `checkoutcom/magento2` version `2.2.6`

[2020-09-27 08:47] halitsavafoglu opened #360 "compatibility issue with PHP 7.0 with Console/Webhooks.php line 31"
I have an error while using your extension version: 2.2.7 with Magento 2.2.3 and PHP 7.0

PHP Parse error:  syntax error, unexpected 'const' (T_CONST), expecting variable (T_VARIABLE) in /vendor/checkoutcom/magento2/Console/Webhooks.php on line 31

your code is:
`private const DATE = 'date';`

while the ability to specify the visibility of class constants was only added in PHP 7.1

so I had to rem

[2020-09-28 05:31] Lukas713 commented on #333
Exactly as @brucemead  explained. We have the same solution in our project. Its dirty but currently working.

[2020-09-29 10:51] luke-fenn-cko commented on #333
Hi @Lukas713 & @brucemead,

I hope all is well.

We have released a new plugin version `2.2.7` with a fix to this. Please update if you can.

Thank you,

Luke F

[2020-10-08 11:38] Lukas713 commented on #333
I see what you have done in 2.2.7. But the problem remains for the orders that are changed to status voided etc. You must fix the source of the problem. And the source problem that plugin is changing the order status after changing the order status.  `\CheckoutCom\Magento2\Model\Service\TransactionHandlerService::setOrderStatus` should be fixed in a way that when my order is changed to pending, it

[2020-10-26 12:10] alexryall commented on #333
It doesn't make sense why the module tries to control the Magento order state and status at every opportunity as out-the-box Magento will correctly set the state and status without custom payment method code. With the latest version 2.2.7 it introduces a new bug where order states are stuck as "processing" instead of "complete" after the payment is captured, and this even affects other non-checkou

[2020-11-04 06:37] halitsavafoglu opened #385 "Error while submitting the invoice"
I have an error while using your extension version: 2.2.6 with Magento 2.2.3 and PHP 7.0, When I do Submit the Invoice throw Magento admin panel for any order that been paid with your payment method!

**We can't save the invoice right now.**

and the error inside "exception.log" file is:

[2020-11-04 06:27:09] main.CRITICAL: The endpoint did not accept the request. (Code: 403) {"exception":"[objec

[2020-11-11 14:31] #280 closed, assigned to nobody

[2020-11-16 13:56] saravanan0501 commented on #385
Any fixes on this issue?? I'm getting the same!

[2020-11-25 14:50] luke-fenn-cko commented on #385
Hello,

We have released a new version of the plugin (v 2.2.8) which includes improvements to the TransactionHandlerService.php that we believe was causing this issue.
If this issue still persists after updating the plugin, please try increasing the Capture Time setting **Configuration -> Sales -> Payment Methods -> Checkout.com -> Configuration -> Global Settings -> Capture Time** in increments o

[2020-11-25 14:57] luke-fenn-cko commented on #360
Hello,

We have made this change in the upcoming version 2.2.9 but this might not release until next month. So, if you were to update to our current version 2.2.8, you would need to remove the 'private' keyword again. However, the change has been through our QA process and it appears that removing the 'private' does not cause any side effects.
Thank you and if you have any questions don't hesitate

[2020-11-25 15:05] luke-fenn-cko commented on #323
Hello,

We recently released version 2.2.8 of the module which includes many updates to the Apple Pay logic. With further updates coming in version 2.2.9.
Please update your module version and let us know if this fixes the issue.

Thank you,

Luke

[2020-11-25 15:16] luke-fenn-cko commented on #333
Hello,

We have released version 2.2.8 with a fix for this issue, thank you for your patience in waiting for this version.

Also, we are currently performing a full audit of our module to make sure it follows Magento best practices which includes coupling more tightly with the default Magento order flow and as you correctly suggest: "let Magento do its thing!"

Many Thanks,

Luke

[2020-11-25 15:53] luke-fenn-cko commented on #340
Hello,

We have recently released version 2.2.8 module with improvements to the PaymentErrorHandlerService.php and a specific fix for this issue.

Please update to the latest version of the module and let me know if this solves your problem.

Thank you for your patience in waiting for this update.

Many Thanks,

Luke

[2020-12-19 20:40] halitsavafoglu commented on #385
When I did try to upgrade to the new version **2.2.8**, I faced this error while running **bin/magento setup:upgrade** command:

Updating modules:
Area code not set: Area code must be set before starting a session.

  [Magento\Framework\Exception\SessionException]
  Area code not set: Area code must be set before starting a session.

  [Magento\Framework\Exception\LocalizedException]
  Area code i

[2021-01-14 10:56] Prasannastha opened #424 "Exception: Notice: Trying to access array offset on value of type null in checkoutcom/magento2/Helper/Utilities.php on line 79"
Hello,

I got this error while placing the order in test mode.
1 exception(s):
Exception #0 (Exception): Notice: Trying to access array offset on value of type null in /
![checkoutapi_error](https://user-images.githubusercontent.com/69232506/104581762-1ce0cb80-5687-11eb-8072-a733ebc233e7.png)
vendor/checkoutcom/magento2/Helper/Utilities.php on line 79

I am using the CheckoutCom_Magento2 version 2

[2021-02-11 13:56] VaseemDeveloper opened #439 "Module is not showing in admin and not getting installed via composer"
I am using Magento CE 2.3.4.
I installed the module via composer but it is not showing in admin.
I can see the 2 directories created at **vendor/checkoutcom** and **vendor/checkout**
The module has created a table in DB also. But it is not showing in admin under Sales -> Payments.

When I am checking the module status, I am getting the following.
bin/magento module:enable CheckoutCom_Magento2
**Un

[2021-02-23 07:30] rakeshmagento opened #440 "Error while installing manually"
While installing manually by downloading and putting the code in **app/code**, it's giving class **CheckoutApi** not found. After doing further investigation in the code I found that the **line 20** use **\Checkout\CheckoutApi;** in file **checkout-magento2-plugin-master/Model/Service/ApiHandlerService.php.** There is no class specified on that location with the name **CheckoutApi.php**
![Screen S

[2021-02-23 10:05] alfie-loakes-cko commented on #440
@rakeshmagento When installing the plugin manually you also need to install the checkout.com PHP SDK

https://github.com/checkout/checkout-sdk-php

[2021-02-23 10:05] #440 closed, assigned to nobody

[2021-02-23 15:25] luke-fenn-cko commented on #323
Closing this issue as there have been no updates and we have released a fix for this issue.

[2021-02-23 15:25] #323 closed, assigned to nobody

[2021-02-23 15:26] luke-fenn-cko commented on #333
Closing this issue as there has been no update.

[2021-02-23 15:26] #333 closed, assigned to nobody

[2021-02-23 15:27] luke-fenn-cko commented on #340
Closing this issue as there has been no update.

[2021-02-23 15:27] #340 closed, assigned to nobody

[2021-02-23 15:28] luke-fenn-cko commented on #360
Closing this issue as we have released a fix for this, please update to the latest version.

[2021-02-23 15:28] #360 closed, assigned to nobody

[2021-02-23 15:31] luke-fenn-cko commented on #385
Hello, after updating to the latest version (2.3.0) has this issue been resolved?

We have released a fix for the area code issue and have continued to make improvements to the invoicing logic.

Many Thanks,

Luke

[2021-02-23 15:33] luke-fenn-cko commented on #424
Hello,

It appears you are running an out of date version of the module, please update to our latest version 2.3.0

Many Thanks,

Luke

[2021-02-25 23:01] samuelbsource opened #446 "Module times out with the memory_limit exhausted error when accessing the checkout."
Hello, one of my clients that uses this module reported that since updating it to the latest version logged in users can no longer access the checkout. After investigating the logs I've found out that PHP is being killed by the memory limit error, increasing the limit to very large values like 8GB did not fix the issue. After some digging into the code I've managed to pinpoint the source of this e

[2021-02-26 11:11] luke-fenn-cko commented on #446
Hello,

We're currently in the process of addressing this, so thank you for bringing the issue to our attention.

A few questions so we can effectively address this:

1. What module version was your client on before they upgraded to the latest version (2.3.0)?
2. Have you tested a version with your suggested code changes, if so did it fix the issue?
3. Did this affect all logged in users, or was i

[2021-02-26 11:53] samuelbsource commented on #446
Hi
1. Last version was 2.2.7
2. We have not tested any fix yet
3. Initially we though that the issue applies to all users, but today we've found that some accounts are unaffected.

[2021-02-26 14:34] iancassidyweb commented on #446
Further information on this issue:

Steps to replicate:

1. Turn on MYSQL logging
2. Register for a customer account
3. Add to cart
4. Proceed to checkout
5. Observe the fact that the following query gets executed by checkout.com module

`SELECT main_table.* FROM sales_payment_transaction AS main_table`

If you're a merchant with millions of previous orders you will have millions of records in the

[2021-02-26 14:54] luke-fenn-cko commented on #446
Thank you both for the info.

@iancassidyweb In your steps to replicate, you say "Register for a customer account", is this only happening for a new account?

@instalab Was there any common theme with the unaffected accounts?

FYI: we are currently removing `TransactionSearchResultInterface` and replacing it for a more performant variation as suggested.

[2021-03-08 10:48] iancassidyweb opened #459 "Orders in (state: new | status:pending) not being closed down by pending payment order cron task"
**Steps to replicate:**

1. Ensure Magento's [pending order cleaning is enabled](https://docs.magento.com/user-guide/sales/order-pending-payment-lifetime.html) and cron is running (or run manually from cli)
2. Place an order with chekcout.com and 3D secure configured.
3. When the 3D Secure is the screen is loaded, a save on the order record occours
4. **Do not complete the checkout process, simula

[2021-03-10 11:35] alitopaloglu opened #460 "GrahpQL QuouteId Int Required but String Exists"
When using default graphql to get customer cart id, magento gives you a masked quote id. This plugin checks qoute id if its masked and if yes converts back it to integer for internal use. This is ok.

But,

V3 rest endpoint that handles quote id param is set to integer on interface, but it must be a string.

getter and setters must be same as well.

I have a masked string, got it from default mage

[2021-03-22 10:41] alitopaloglu commented on #424
I can reproduce this issue on magento v2.4.2 and checkout_com latest version

[2021-03-26 12:27] #385 closed, assigned to nobody

[2021-04-09 14:51] stephen-gilbert-cko commented on #446
Hi @iancassidyweb @instalab would you be able to get back to us on Luke's questions?

[2021-05-26 16:53] clivewalkden opened #476 "Guest Express Orders missing customer name"
Hi,

Is it possible to retrieve the customer name for guest customers using express payment options as currently they are shown as Guest in the email correspondence.

Kind regards,

Clive

[2021-05-27 12:05] JamesFX2 opened #477 "Partial refunds are updating the order status"
For one, you don't need to update the order status after a refund. The order state handler built into M2 core will close/cancel/complete an order on save anyway if the appropriate criteria is met.

For two, it's setting partial refunds to processing/closed

[2021-06-11 04:02] tinventions opened #478 "Uncaught Error: Class 'Checkout\CheckoutApi' not found in /var/www/html/app/code/CheckoutCom/Magento2/Model/Service/ApiHandlerService.php:106"
After Installing Checkout.com Extension facing  Uncaught Error: Class 'Checkout\CheckoutApi' not found in /var/www/html/app/code/CheckoutCom/Magento2/Model/Service/ApiHandlerService.php:106  issue
![Screenshot from 2021-06-11 09-30-04](https://user-images.githubusercontent.com/47660616/121628892-c2159980-ca97-11eb-84df-73ccfa54b320.png)
I have installed this module using direct download (Not with

[2021-06-22 10:29] achourey commented on #439
Hi @VaseemDeveloper
Try following commands.

- composer require checkoutcom/magento2:*  --no-update
- composer update checkoutcom/magento2
- php bin/magento setup:upgrade
- php bin/magento setup:di:compile
- php bin/magento setup:static-content:deply
- php bin/magento cache:clean

Thanks

[2021-06-22 10:41] achourey opened #480 "Payment Option is not listed at checkout page"
Hi,

I have installed the extension  2.3.1 version on Magento 2.4.2-p1 and configured it with sandbox credentials. Configuration shows successfully but the Payment option are not listed at checkout page.

Thanks

[2021-06-25 13:23] amitmaurya191 opened #481 "Address is not getting saved for first order place by new customer - apple pay"
Hi,

Just found and issue on apple pay- Billing address is missing

**Scenario Step -**

- Create a new user
- Add product to cart
- Go on checkout page
- Fill shipping address details
- Click on billing address same as shipping address checkbox
- Select apple pay payment
- place order

**Result** - Order successfully placed but billing address is missing on order as shown on below image. Address

[2021-06-25 13:24] amitmaurya191 commented on #478
You have to install CheckoutCom library files.

[2021-07-06 13:20] ved-beejadhur-cko commented on #439
Hi @VaseemDeveloper ,

I guess you have been able to install the plugin.
However, please refer to the [Readme](https://github.com/checkout/checkout-magento2-plugin#readme) doc to get the working commands for installation and update if you encounter any other issues.

Thanks

[2021-07-12 08:20] #480 closed, assigned to nobody

[2021-07-12 11:39] IbrahimS2 opened #482 "M2.4.2 - Major Issues with the module"
- The orders captured from guest users not collecting their emails/names etc.. and only registered against mail@example.com, and
- Webhooks cannot be traced, how would I know what callbacks failed due to firewall or any other issue?
- All orders with callbacks that failed for any reason gets closed and we end up with payment taken and order closed which is a nightmare for admin users!!!

In conclu

[2021-07-12 11:40] IbrahimS2 commented on #482
@aamant @likemusic HELP!

[2021-07-12 15:08] likemusic commented on #482
@IbrahimS2 I don't use this module since my last issues here, so I can't help you now.

[2021-07-12 16:07] IbrahimS2 commented on #482
@david-fiaty-cko HELP!

[2021-07-12 16:48] aamant commented on #482
@IbrahimS2 I don't use this module since my lasst issues here, so I can't help you now.

[2021-07-13 08:52] bakshivarun commented on #482
Hi, Ibrahim. Apologies for your issue not being looked into the first time but we are actively looking into them. More updates as I get them.

[2021-07-13 16:22] bakshivarun commented on #482
@IbrahimS2 Coming back to your listed issues:

1. We have not been able to replicate this issue because there's no record of mail@example.com. We register Guest emails from the billing address. FYI - Customer Name = _Guest_ is expected behaviour.

For 2. and 3., could you give us explicit examples and steps to reproduce, please? We're more than happy to look into these issues for you. Would also a

[2021-07-13 16:29] bakshivarun commented on #481
Hi @amitmaurya191,

Thanks for detailing your issue and the steps to reproduce the same. We did try to recreate this but unfortunately could not because the Billing Address was seen as expected. Could the issue be in your settings or the code? Kindly let us know.

Best,
Varun

[2021-07-16 04:51] devamitbera commented on #424
The same issue happens to me as well.

[2021-07-16 05:41] devamitbera commented on #424
HI  @luke-fenn-cko  and @alitopaloglu
I am a little bit confuse about  **success_url** and **failure_url**. where these two urls need and why this need for checkout.

Trying to place an order using Rest Guest API and it working but not why **success_url** and **failure_url** need to pass at request payload.

[code]

Also, what is the role of webhook and this failure and success  URL.

Can you plea

[2021-07-26 07:55] #424 closed, assigned to nobody

[2021-07-26 07:55] #439 closed, assigned to nobody

[2021-07-26 07:55] #446 closed, assigned to nobody

[2021-07-26 07:56] #459 closed, assigned to nobody

[2021-07-26 07:56] #476 closed, assigned to nobody

[2021-07-26 07:56] #477 closed, assigned to nobody

[2021-07-26 07:56] #478 closed, assigned to nobody

[2021-07-26 07:56] #481 closed, assigned to nobody

[2021-07-26 07:57] #482 closed, assigned to nobody

[2021-07-28 13:35] Prasannastha opened #483 "After the upgrade to 2.3.1, the payment fails"
Hello,
Recently, we have updated the module to 2.3.1. After the update, the customer cannot make payment of order and the order is in pending state. And the error appears after the payment.

The exception error is :
{"0":"Unable to send the cookie. Size of 'mage-messages' is 4102 bytes.","1":"#1 Magento\\Framework\\Stdlib\\Cookie\\PhpCookieManager->setCookie() called at [vendor\/magento\/framework

[2021-08-10 04:18] mounirsemaan1 opened #486 "double quantity error in cart"
Using a fresh clean Magento 2.3.6 setup:

The line https://github.com/checkout/checkout-magento2-plugin/blob/0bdd058e6c348995693fd4222c310d4b8ab51b06/Model/Ui/ConfigProvider.php#L97 is causing

"The requested qty is not available " on the cart page

to reproduce:
1- Setup a fresh Magento 2.3.6
2- Add a configurable product with a simple configuration product with Quantity 1
3- Make sure that in th

[2021-09-23 15:07] VladislavSW opened #489 "Magento 2.4.3 incompatible logging (Zend\Log has been removed in M2.4)"
**How to replicate**
1. In the admin panel enable all debug settings for checkout.com.
2. On the frontend go to the checkout

**Expected**
data is logged to the var/log/checkoutcom.log file

**Actual**
Error: Class 'Zend\Log\Writer\Stream' not found in /vendor/checkoutcom/magento2/Helper/Logger.php:69

[2021-09-23 15:17] VladislavSW opened #490 "GPay does not work in checkout-magento2-plugin:2.3.1 version"
**Issue**
GPay does not work in checkout-magento2-plugin:2.3.1 version

**Investigation results in 2.3.1 version**
In `CheckoutCom\Magento2\Model\Ui\ConfigProvider::getConfigArray()` for the payment methods configuration the logic uses the following method `$this->config->getMethodsConfig()`, which loads configurations based on the XML configuration paths. The loader class `CheckoutCom\Magento2\Ga

[2021-11-01 08:12] Mr0Bread opened #495 "Impossible to create invoice for order placed using Klarna APM in sandbox mode"
There is an error when you try to invoice an order and consequently capture it when your order is placed using Klarna APM

After debugging I found out that there is two issues in code that leads to incorrect API request:

1. Incorrect API endpoint. In documentation is described `klarna-external/orders/{payment_id}/captures` but in code it uses `payments/{payment_id}/capture` inside of `Checkout\Mo

[2021-11-05 13:42] JamesFX2 commented on #486
Yeah, found the same issue. Basically, don't save the quote twice.

[2021-11-08 12:25] bakshivarun commented on #490
Hi @VladislavSW,

Thank you for raising your concern and apologies for not coming back to you earlier. This is an issue we have already fixed, which will be made available in the upcoming Magento 2 version release before the end of the month.

Best,
Varun

[2021-11-16 08:31] shivasnr opened #501 "Reorder issue cart items subtotal shows 0 in checkout/cart"
After reordering cart items subtotal shows 0 in cart page like
![image](https://user-images.githubusercontent.com/8320669/141948536-bef9a49f-880c-412e-a922-8693df54e434.png)

class `\CheckoutCom\Magento2\Model\Ui\ConfigProvider` is giving an issue.

Steps to reproduce:
Step 1: Try reorder (logged in user) from `customer/account/`
Step 2. Check Subtotal in `checkout/cart`

How can I resolve this? P

[2022-03-04 07:58] rishigupta121 opened #504 "Customize option when option type is file in product"
**Step to Reproduce**

1. Create a configurable product with custom option type file and the add product to cart.
2.  when we go to cart page the error comes as shown in image

**Actual result**
![image](https://user-images.githubusercontent.com/10168273/156721477-698363c8-93e3-43c6-843c-ce45fc75df16.png)

Expected Result:

![image](https://user-images.githubusercontent.com/10168273/156722814-2cf6

[2022-03-04 08:45] JamesFX2 opened #505 "str_contains is PHP8.0"
You're using it in https://github.com/checkout/checkout-magento2-plugin/blob/0e5d5b5f59a193dc3b669f34cce99cde46bf171f/Controller/Payment/Verify.php and https://github.com/checkout/checkout-magento2-plugin/blob/0e5d5b5f59a193dc3b669f34cce99cde46bf171f/Gateway/Config/Config.php

[2022-03-07 17:16] helloeverything opened #506 "Error on di:compile (Klarna interface does not exist)"
Magento instances don't always contain the Klarna 3rd party module (in 2.4.4 it's being removed by default). When Klarna does not exist on the instance we get the below fatal error when running di:compile

Class Klarna\Core\Api\OrderRepositoryInterface does not exist

Using the latest version 3.0.0

[2022-03-11 12:53] Dnd-Gimix commented on #483
Hello @Prasannastha ,

We are updating the issues in the repository, could you please tell us if this demand is still up to date?
The error does not indicate a direct relation with the Checkout.com extension.

Did you managed to solve it?

Many thanks.
Regards,

[2022-03-11 12:56] Dnd-Gimix commented on #490
Hello @VladislavSW ,

As this bug has already been fixed, we are closing this issue.
Feel free to open a new one if any other problem persists.

Regards,

[2022-03-11 12:56] #490 closed, assigned to nobody

[2022-03-11 14:22] Dnd-Gimix commented on #504
Hello @rishigupta121 ,

Thank you for reporting this issue.

Could you provide us the Magento 2 version and the extension version you are currently using please?
Many thanks.

Regards,

[2022-03-11 14:22] Dnd-Gimix commented on #501
Hello @shivasnr ,

Thank you for reporting this issue.

Could you provide us the Magento 2 version and the extension version you are currently using please?
Many thanks.

Regards,

[2022-03-11 16:14] rishigupta121 commented on #504
hello @Dnd-Gimix ,
magento version : 2.4.3-p1
extension version in both 2.3.4 and 3.0.0

[2022-03-17 11:21] Dnd-Gimix commented on #505
Hello @JamesFX2 ,

Thank you for your feedback.

We have fixed the usage of the "str_contains" functions in the latest 3.0.1 version of the extension.
Can you update your extension and confirm that it is now OK?

Many thanks.
Regards,

[2022-03-17 11:22] Dnd-Gimix commented on #504
Hello @rishigupta121

Thank you for your feedback.

We have fixed this issue in the latest 3.0.1 version of the extension.
Can you update your extension and confirm that it is now OK?

Many thanks.
Regards,

[2022-03-17 11:22] Dnd-Gimix commented on #501
Hello @rishigupta121

Thank you for your feedback.

We should have fixed this issue in the latest 3.0.1 version of the extension.
Can you update your extension and confirm that it is now OK?

Many thanks.
Regards,

[2022-03-17 11:23] Dnd-Gimix commented on #486
Hello @mounirsemaan1 @JamesFX2 ,

Thank you both for your feedback.

We have fixed this issue in the latest 3.0.1 version of the extension.
Can you update your extension and confirm that it is now OK?

Many thanks.
Regards,

[2022-03-18 10:07] rishigupta121 commented on #504
thanks @Dnd-Gimix this  issue is resolved in 3.0.1
I'm closing this ticket

[2022-03-18 10:07] #504 closed, assigned to nobody

[2022-03-25 01:51] advcha opened #507 "'Unable to serialize value' on the checkout page"
Hi, I'm using checkoutcom plugin version 2.0.5 on magento 2.3.5. but on the checkout page, I got this error:
[code]

I tried to use the newer version like 2.3.4, 3.0.0 and 3.0.1 but it's not compatible with another needed plugin. When I'm running the another plugin, I got this error from checkoutcom plugin:
[code]
I can fix this manually to convert the string to float by putting `(float)$amount` o

[2022-03-29 16:48] Dnd-Gimix commented on #489
Hello @VladislavSW ,

Thank you for the feedback.

We have solved this issue in the latest 3.0.1 version of the extension.
Could you please upgrade and try again?

Many thanks.
Regards,

[2022-04-04 16:42] #505 closed, assigned to nobody

[2022-04-06 07:30] lakshmana opened #508 "Incorrect Class reference to Model/Service/ShopperHandlerService.php in /Model/Methods/AlternativePaymentMethod.php"
The class `CheckoutCom\Magento2\Model\Service\ShopperHandlerService` is referenced with lowercases classname as `CheckoutCom\Magento2\Model\Service\shopperHandlerService` in `CheckoutCom\Magento2\Model\Methods\AlternativePaymentMethod` https://github.com/checkout/checkout-magento2-plugin/blob/9ae2ea6477c6a98b4f7aeb1d3d758978b7e54e3e/Model/Methods/AlternativePaymentMethod.php#L48
Because of this th

[2022-04-14 08:19] CollegeSewing commented on #506
Magento 2.4.4 cannot be compiled correctly due to Checkout (Version 3.1.0) requiring Klarna, which is no longer bundled.

I do wonder if the following would be a quick fix
https://docs.klarna.com/platform-solutions/adobe-commerce/adobe-commerce-244-and-above/installation/

However, **_klarna/m2-klara_** doesn't exist on the Marketplace
https://github.com/magento/magento2/issues/35288

[2022-04-19 09:29] dio5 opened #509 "Magento 2.4.2 broken debugging"
With debugging enabled, I'm getting the error:

TypeError: Argument 2 passed to Monolog\Logger::debug() must be of the type array, string given

Coming from:

`$this->logger->additional('authorization header: ' . $key, 'auth');`

which calls

`$this->logger->debug('Checkout Logging: ', $msg);`

in \CheckoutCom\Magento2\Helper\Logger::write

as Monolog\Logger::debug is expecting an array as second

[2022-04-19 09:50] dio5 commented on #509
Although I also notice sometimes arrays are passed to \CheckoutCom\Magento2\Helper\Logger::additional so will need better fixing than concat.

[2022-04-21 09:29] CollegeSewing commented on #506
The new Klarna Magento extention for Magento 2.4.4 resolved the di:compile issue with the Checkout extension
https://marketplace.magento.com/klarna-m2-klarna.html

However, the Checkout extension is not compatible with PHP 8.1
Deprecated Functionality: explode(): Passing null to parameter #2 ($string) of type string is deprecated in /vendor/checkoutcom/magento2/Gateway/Config/Loader.php on line 24

[2022-04-26 11:00] developer-macrew opened #510 "Compilation error in Magento 2.4.4"
We have an error in the Magento2 compilation. The problem is that the file CheckoutCom\Magento2\Controller\ApiV2.php has the Klarna dependency. But Magento2.4.4 removed the Klarna library. So this is the reason is it returning an error in compilation.
![image](https://user-images.githubusercontent.com/29918022/165285560-f3b53854-fe34-4d28-be46-22b90e519760.png)

[2022-04-27 10:23] Dnd-Gimix commented on #508
Hello @lakshmana

We have provided a preventive bug fix for this issue in the latest 3.1.1 version of the extension.
Can you please have a look at it and inform us of the resolution of your issue?

Many thanks.
Regards,

[2022-04-27 10:26] Dnd-Gimix commented on #510
Hello @developer-macrew ,

We have removed the dependency to Klarna in the latest 3.1.1 version of the extension.
Can you please update and try again?

Many thanks.
Regards,

[2022-04-28 08:18] CollegeSewing opened #511 "Deprecated Functionality: explode() - Magento 2.4.4"
Hello,

The Latest version of the Checkout Module is not fully compatiable with Magento 2.4.4 and PHP8.1.
The following error is given

Deprecated Functionality: explode(): Passing null to parameter #2 ($string) of type string is deprecated in ./vendor/checkoutcom/magento2/Gateway/Config/Loader.php on line 249

[2022-05-11 05:12] joicy-joseph opened #512 "Cardholder Name Missing"
The cardholder name is missing for the payments Apple Pay & Google Pay. The cardholder name shows as 'Unknown' when opening the payment details as the cardholder name is not available.
![image](https://user-images.githubusercontent.com/24402576/167773161-be2f2952-f355-4288-bb20-81c96f01bbb9.png)
![image](https://user-images.githubusercontent.com/24402576/167773206-59f25288-d1fc-42b6-acf3-ae6476d82

[2022-05-12 09:31] #460 closed, assigned to nobody

[2022-05-20 14:59] kpitn opened #513 "Unable to configure module, unless"
When you install the module and go to _Setup > Configuration > Sales > Payment Method_, you can't configure the module, the button is disabled.

![disable](https://user-images.githubusercontent.com/41059/169555150-20c52d86-0afc-4252-b195-7f9d4a23483b.png)

You need to remove **disabled** mention in html console to configure module.

[2022-05-20 15:29] Dnd-Gimix commented on #513
Hello @kpitn ,

Hope you are fine.

Can you please provide more detail on your Magento setup please:
- Magento / PHP version
- Do you have any customizations or community extension installed?
- Did you upgraded the extension to the latest version or just installed it on a fresh Magento?
- Any additional information to debug the issue

Thanks a lot!
Regards

[2022-05-20 15:48] kpitn commented on #513
Hello @Dnd-Gimix,

Nice to see you here

As you can see it's the last version of checkout module v4.0.0
With Magento 2.4.4 and php 7.4.

The problem is I don't have activity_path

![activity_path](https://user-images.githubusercontent.com/41059/169565212-00af9cdf-850f-410f-b7d9-d94e6fbbf071.png)

[2022-05-23 13:13] edroberts commented on #512
any update on this?

[2022-06-03 12:07] deepaknair3 commented on #513
Facing this issue in Magento 2.4.3-p1, any solution yet?

@Dnd-Gimix please help to fix it, as this is a major issue, and not able to save configurations.

[2022-06-03 12:11] deepaknair3 commented on #513
@kpitn have you got any solution?

[2022-06-03 12:36] kpitn commented on #513
I don't understand why payment module (not only checkout.com) want to disable the configure button.
Even more when this module override payment method selection to force checkout to appear selected by default.
https://github.com/checkout/checkout-magento2-plugin/blob/master/view/frontend/web/js/model/checkout-data-resolver.js

1 - Quick solution : Right Click > Inspect and remove disabled from dom

[2022-06-08 09:58] Dnd-Gimix commented on #513
Hello @deepaknair3 @kpitn ,

Thank you both for the feedback.

It seems that there is currently an issue when the "Paypal" module is disabled, causing the Checkout "Configure" button to disappear.

Can you confirm that you both disabled the native "Paypal" extension?
While we proceed to fix this issue, could you maybe re-enable the extension to prevent this behavior?

Thank you.
Regards,

[2022-06-08 10:04] kpitn commented on #513
Hi @Dnd-Gimix ,
You are right paypal module is disable in my store

[2022-06-09 09:17] deepaknair3 commented on #513
Hi @Dnd-Gimix ,
Yes, paypal modules are disabled.

[2022-06-09 10:18] Dnd-Gimix commented on #513
Hello @kpitn @deepaknair3 ,

Thank you for the confirmation.
I confirm to you that a new release at the end of the month will contain a bug fix for this issue.

Have a good day.
Regards,

[2022-06-13 09:59] JamesFX2 opened #514 "Partial refunds causing issues"
We are occasionally have issues issusing partial refunds on orders.

What happens is that (1) the refund goes through on checkout.com, (2) the credit memo is generated but when we view the sales_order later, the qty_refunded on the sales_order_item hasn't been updated, with other fields related to total refunded also being 0.

Except they were updated.

Have debugged this and the issue is being ca

[2022-06-13 10:03] JamesFX2 commented on #477
It really wasn't completed @dnd-GautierBardon @Dnd-Gimix @dnd-kallard @Dnd-Juanito

[2022-07-10 18:33] deepaknair3 commented on #513
Hello @Dnd-Gimix ,

When we can expect a new release with this fix.

Thanks

[2022-07-28 07:29] tahirqureshi opened #515 "Frontend checkout dies when newly installed"
When module is installed and there are no settings in the config table, module is **enabled** by default. It kills the checkout on front end because module tries to get the config settings and dies.

PHP version: 7.4.30
Magento version: 2.3.7-p2

[2022-08-25 12:54] dio5 commented on #513
On Magento. 2.4.2-p1 we have similar issues, even with paypal enabled.

The configure button is enabled but getting JS errors in both Chrome and FF, though different ones and the behaviour is different but comes down to being unable to save or click/open anything (not only just the checkoutcom parts).

This happens with 4.0.0, wasn't happening with the previous version.

JS errors vary from

Uncau

[2022-09-12 14:43] edroberts commented on #514
Further feedback from James on this:

_I'd recommend that they don't save the order if no changes are necessary.

If you modify processInvoice, processEmail, processCreditMemo to return a true/false if they actually did any changes to the order, you could use these as a flag.

I've not tested this code but it would be something like this to completely ignore handleTransaction if a credit memo alre

[2022-09-14 08:53] Dnd-Gimix commented on #515
Hello @tahirqureshi ,

This should be resolved inside the latest version [4.1.1](https://github.com/checkout/checkout-magento2-plugin/releases/tag/4.1.1) of the extension.
Can you please upgrade and try again?

Many thanks.
Regards,

[2022-09-14 08:56] Dnd-Gimix commented on #513
Hello @kpitn @deepaknair3 @dio5 ,

The fix for Paypal module disabled causing the configuration to disappear has been released in the latest version of the extension : [4.1.1](https://github.com/checkout/checkout-magento2-plugin/releases/tag/4.1.1)

Can you please upgrade and try again?

Many thanks.
Regards,

[2022-09-19 15:25] kpitn opened #516 "Performance issue on checkout page."
Hi,

I'm using the last version module (4.1.1)

Instead of using order collection, repository is use with searchcriteria.

File : /vendor/checkoutcom/magento2/Model/Service/OrderHandlerService.php
[code]
Magento getlist load all customer orders before limiting the query with last item.

![screen](https://user-images.githubusercontent.com/41059/191052496-acddfe56-3d32-4789-8b97-1bb62710953e.png)

!

[2022-09-19 15:39] kpitn commented on #516
Patch to solve the problem (if you want to keep repository)

[code]

[2022-09-19 15:48] Dnd-Gimix commented on #516
Hello @kpitn ,

Thanks a lot for the feedback, very efficient as always! ;)
This is taken into account and we will work on it in the near future.

We will keep you posted of our progress regarding this improvement.

Regards,

[2022-11-04 14:09] kpitn commented on #513
It's ok for me with last version

[2022-11-04 15:09] Dnd-Gimix commented on #513
Great, thank you @kpitn for the feedback, let's close this issue then!
Have a good day.
Regards,

[2022-11-04 15:09] #513 closed, assigned to nobody

[2022-11-09 12:30] JamesFX2 commented on #516
I flagged the same in https://github.com/checkout/checkout-magento2-plugin/pull/503 but sadly, this was missed.

I'm undecided if I should continue to raise issues with this project.

Off the top of my head, there are

- Numerous issues with error logging that cause 500 errors.
- A [bug on the webhook adding an order comment for a new response type that checkout.com added](https://github.com/check